<ion-header>
  <ion-navbar align-title="center" color="pink">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <div style="color:white;font-weight:800;font-size:22px">
        Mi histora
      </div> -->
    <ion-buttons right (click)="t=true">
      <button ion-button icon-only>
        {{selection}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider color="light">
      <div style="font-size:14px;font-weight:600;color:#444">
        SELECCIONAR
      </div>
    </ion-item-divider>
    <ion-item (click)="selectOpt('Publicar')">
      <ion-icon name="leaf" style="color:white" item-start></ion-icon>
      Publicar ahora
      <ion-icon *ngIf="selection !== 'Publicar'" name="md-radio-button-off" style="color:gray" item-end></ion-icon>
      <ion-icon *ngIf="selection == 'Publicar'" name="md-radio-button-on" style="color:dodgerblue" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="selectOpt('Guardar')">
      <ion-icon name="leaf" style="color:white" item-start></ion-icon>
      Guardar borrador
      <ion-icon *ngIf="selection !== 'Guardar'" name="md-radio-button-off" style="color:gray" item-end></ion-icon>
      <ion-icon *ngIf="selection == 'Guardar'" name="md-radio-button-on" style="color:dodgerblue" item-end></ion-icon>
    </ion-item>
    <!-- <ion-item (click)="mostrarOpt('categoria')">
      <ion-icon name="leaf" style="color:white" item-start></ion-icon>
      Categoría
      <ion-icon *ngIf="mostrar !== 'categoria'" name="md-radio-button-off" style="color:gray" item-end></ion-icon>
      <ion-icon *ngIf="mostrar == 'categoria'" name="md-radio-button-on" style="color:dodgerblue" item-end></ion-icon>
    </ion-item> -->
    <ion-item-divider color="light">
      <div style="font-size:14px;font-weight:600;color:#444">
        OTRAS OPCIONES
      </div>
    </ion-item-divider>
    <ion-item (click)="ordenOpt('descuento')">
      Categoría
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': ordenar == 'descuento' ? 'dodgerblue' : 'gray' }" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="ordenOpt('valorados')">
      Mis borradores
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': ordenar == 'valorados' ? 'dodgerblue' : 'gray' }" item-end></ion-icon>
    </ion-item>
    <!-- <ion-item (click)="ordenOpt('vendidos')">
      Más vendidos
      <ion-icon name="md-checkmark" [ngStyle]="{'color': ordenar == 'vendidos' ? 'dodgerblue' : 'white' }" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="ordenOpt('cronologico')">
      Orden cronológico
      <ion-icon name="md-checkmark" [ngStyle]="{'color': ordenar == 'cronologico' ? 'dodgerblue' : 'white' }" item-end></ion-icon>
    </ion-item> -->
  </ion-item-group>

</ion-content>