page-outfits {
  .pins {
    column-count: 2;
  }
  .pin {
    display: inline-block;
    margin: 0 2px 5px;
    // padding: 3px;
  }
  .select {
    border-bottom: 3px solid white;
    color: white;
    font-weight: 520;
  }
  .flex {
    display: flex;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 16px;
  }

  #talkbubble {
    width: 32px;
    height: 24px;
    background: red;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .triangulo_top_right {
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-left: 10px solid transparent;
  }
}
