<ion-header *ngIf="loginFirst" no-border>
  <ion-navbar color="orange3" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close" style="font-size:25px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="loginFirst" style="background: #ff6633">
  <div>
    <div style="padding-top:50px;height:250px;width:100%;color:white">
      <div style="width:100%;text-align:center;font-size:40px;font-weight:500">
        joopiter
      </div>
    </div>
    <div style="width:100%;margin-top:50px;display:flex;justify-content:center">
      <button (click)="registrar()" color="danger" large ion-button mode="ios">
        Registrar
      </button>
    </div>
    <div style="margin-top:20px;width:100%;text-align:center;color:white;font-weight:500;font-size:20px">
      ¿Ya estás registrado?
    </div>
    <div style="width:100%;margin-top:10px;display:flex;justify-content:center">
      <button (click)="sesion()" large ion-button outline color="white" mode="ios">
        Iniciar sesión
      </button>
    </div>
  </div>
</ion-content>


<ion-header *ngIf="loginSecond" no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button (click)="loginFirst=true;loginSecond=false">
        <ion-icon name="md-arrow-round-back" style="font-size:25px"></ion-icon>
        <div style="margin-left:10px">
          Atras
        </div>
      </button>
    </ion-buttons>
    <ion-title> Registrar </ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="loginSecond">
  <div style="margin-left:20px;margin-top:100px;width:100%;text-align:left;font-size:15px;color:#777">
    Email
  </div>
  <ion-item style="font-size:18px">
    <ion-input [(ngModel)]="email" type="email" placeholder="Ej. daniel@gmail.com"></ion-input>
  </ion-item>
  <div style="margin-left:20px;margin-top:20px;width:100%;text-align:left;font-size:15px;color:#777">
    Nombre
  </div>
  <ion-item style="font-size:18px">
    <ion-input [(ngModel)]="name" type="text" placeholder="Ej. Daniel"></ion-input>
  </ion-item>
  <div style="margin-left:20px;margin-top:20px;width:100%;text-align:left;font-size:15px;color:#777">
    Contraseña
  </div>
  <ion-item style="font-size:18px">
    <ion-input [(ngModel)]="password" [type]="passwordType" placeholder="**********"></ion-input>
    <button *ngIf="!showPass" ion-button item-right clear (click)="showHide()">
      <ion-icon name="md-eye" style="color:#bbb;font-size:32px"></ion-icon>
    </button>
    <button *ngIf="showPass" ion-button item-right clear (click)="showHide()">
      <ion-icon name="md-eye-off" style="color:#bbb;font-size:32px"></ion-icon>
    </button>
  </ion-item>
  <div *ngIf="!obteniendoRespuesta" style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div (click)="signUp()" style="font-size:12px;color:#fff;background:#ff6633;display:flex;align-items:center;padding:5px;padding-left:80px;padding-right:10px;border-radius:25px">
      SIGUIENTE
      <ion-icon name="ios-arrow-dropright-circle" style="color:#fff;font-size:34px;margin-left:60px"></ion-icon>
    </div>
  </div>
  <div *ngIf="obteniendoRespuesta" style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div style="font-size:12px;color:#fff;background:#ffa98c;display:flex;align-items:center;padding:5px;padding-left:80px;padding-right:10px;border-radius:25px">
      SIGUIENTE
      <ion-icon name="ios-arrow-dropright-circle" style="color:#fff;font-size:34px;margin-left:60px"></ion-icon>
    </div>
  </div>
</ion-content>


<ion-header *ngIf="loginThird" no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button (click)="loginFirst=true;loginThird=false">
        <ion-icon name="md-arrow-round-back" style="font-size:25px"></ion-icon>
        <div style="margin-left:10px">
          Atras
        </div>
      </button>
    </ion-buttons>
    <ion-title> Iniciar sesión </ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="loginThird">
  <div style="margin-left:20px;margin-top:100px;width:100%;text-align:left;font-size:15px;color:#777">
    Email
  </div>
  <ion-item style="font-size:18px">
    <ion-input [(ngModel)]="email" type="email" placeholder="Ej. daniel@gmail.com"></ion-input>
  </ion-item>
  <div style="margin-left:20px;margin-top:20px;width:100%;text-align:left;font-size:15px;color:#777">
    Contraseña
  </div>
  <ion-item style="font-size:18px">
    <ion-input [(ngModel)]="password" [type]="passwordType" placeholder="**********"></ion-input>
    <button *ngIf="!showPass" ion-button item-right clear (click)="showHide()">
      <ion-icon name="md-eye" style="color:#bbb;font-size:32px"></ion-icon>
    </button>
    <button *ngIf="showPass" ion-button item-right clear (click)="showHide()">
      <ion-icon name="md-eye-off" style="color:#bbb;font-size:32px"></ion-icon>
    </button>
  </ion-item>
  <div *ngIf="!obteniendoRespuesta" style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div (click)="signIn()" style="font-size:12px;color:white;background:#ff6633;display:flex;align-items:center;padding:5px;padding-left:80px;padding-right:10px;border-radius:25px">
      ENTRAR
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:60px"></ion-icon>
    </div>
  </div>
  <div *ngIf="obteniendoRespuesta" style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div style="font-size:12px;color:white;background:#ffa98c;display:flex;align-items:center;padding:5px;padding-left:80px;padding-right:10px;border-radius:25px">
      ENTRAR
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:60px"></ion-icon>
    </div>
  </div>
</ion-content>