<ion-header no-border>

  <ion-navbar color="white">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list text-wrap>
    <ion-item>
      <div item-start (click)="openGaleria(tienda.galeria)" style="position:relative">
        <div item-start style="min-height:120px;width:120px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + tienda.tienda.logo + ')' }">
        </div>
        <div style="text-align:center;border-radius:3px;padding:5px;padding-left:10px;padding-right:10px;background:rgba(0, 0, 0, 0.5);position:absolute;bottom:10px;right:10px;color:white;font-size:16px">
          {{tienda.galeria.length}}
        </div>
      </div>
      <div style="color:#444;font-weight:600;font-size:22px">
        {{tienda.tienda.nombre}}
      </div>
      <div style="margin-top:10px;color:#555;font-size:18px">
        Abierto
      </div>
      <div style="color:#555;font-size:15px">
        {{tienda.tienda.delivery}}
      </div>
    </ion-item>
  </ion-list>

  <!-- <div *ngIf="true" style="margin-left:15px;margin-top:15px;margin-bottom:10px;color:#444;font-size:20px;font-weight:500">
    Promociones
  </div>
  <ion-scroll *ngIf="true" scrollX="true" style="height:150px;margin-left:10px">
    <div style="width:100%;display:flex;justify-content:flex-start">
      <img src="assets/01.jpg" style="width:120px;height:120px;margin-right:15px">
      <img src="assets/01.jpg" style="width:120px;height:120px;margin-right:15px">
      <img src="assets/01.jpg" style="width:120px;height:120px;margin-right:15px">
      <img src="assets/01.jpg" style="width:120px;height:120px;margin-right:15px">
    </div>
  </ion-scroll> -->

  <!-- <div style="margin-left:15px;margin-bottom:5px;margin-top:5px;color:#444;font-size:22px;font-weight:500">
    ¡Menú de hoy!
  </div> -->

  <!-- <div *ngIf="!isMenu" (click)="isMenu=!isMenu" style="margin-left:15px;margin-bottom:5px;margin-top:5px;color:#444;font-size:22px;font-weight:500">
    + Mostrar Menu
  </div>
  <div *ngIf="isMenu" (click)="isMenu=!isMenu" style="margin-left:15px;margin-bottom:5px;margin-top:5px;color:#444;font-size:22px;font-weight:500">
    - Ocultar Menu
  </div> -->
  <ion-list text-wrap>
    <ion-item *ngFor="let producto of productos; let i = index">
      <div style="color:#555;font-size:20px;font-weight:450">
        {{producto.nombre}}
      </div>
      <div style="color:#888;font-size:16px">
        {{producto.descripcion}}
      </div>
      <div style="color:#ff6633;font-size:18px">
        {{producto.tag}}
        <span style="display:flex;justify-content:flex-end">
          <div *ngIf="producto.cantidad != 0" style="display:flex;align-items:center">
            <div (click)="addMore('-', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:350;font-size:28px;display:flex;justify-content:center;align-items:center">
              -
            </div>
            <div style="margin-left:10px;margin-right:10px;color:#777;width:25px;height:25px;border-radius:50%;font-weight:500;font-size:17px;display:flex;justify-content:center;align-items:center">
              {{producto.cantidad}}
            </div>
            <div (click)="addMore('+', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:350;font-size:28px;display:flex;justify-content:center;align-items:center">
              +
            </div>
          </div>
          <div *ngIf="producto.cantidad == 0" (click)="addMore('add', i)" style="color:#777;background:#eee;border:0px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:350;font-size:28px;display:flex;justify-content:center;align-items:center">
            +
          </div>
        </span>
      </div>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer padding>
  <button *ngIf="total == 0" [disabled]="true" ion-button block mode="ios" color="orange3">
    <div style="font-size:18px;width:100%;display:flex;align-items:center;justify-content:space-between">
      <div>
      </div>
      <div>
        Agregar al pedido
      </div>
      <div>
      </div>
    </div>
  </button>
  <button *ngIf="total != 0" (click)="save()" ion-button block mode="ios" color="orange3">
    <div style="font-size:18px;width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="font-size:16px;font-weight:600;background:orangered;display:flex;justify-content:center;align-items:center;border-radius:5px;height:25px;width:25px">
        {{contador}}
      </div>
      <div>
        Agregar al pedido
      </div>
      <div>
        ${{total}}
      </div>
    </div>
  </button>
</ion-footer>