<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>
        Mi tienda en joopiter
      </ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content style="background:rgb(248, 248, 248)">

  <!-- <div *ngIf="tienda?.imgPerfil.url" style="min-height:250px;width:100%;border-radius:0px;background-size:cover;background-repeat: no-repeat;background-position: center;"
    [ngStyle]="{'background-image': 'url(' + tienda?.imgPerfil.url + ')' }">
  </div> -->

  <ion-list text-wrap style="margin-top:10px">
    <button ion-item>
      <div item-start style="position:relative">
        <div *ngIf="tienda?.imgPerfil.url" style="min-height:90px;width:90px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + tienda?.imgPerfil.url + ')' }">
        </div>
        <div style="text-align:center;border-radius:3px;padding:4px;padding-left:10px;padding-right:10px;background:rgba(0, 0, 0, 0.5);position:absolute;bottom:10px;right:10px;color:white;font-size:14px">
          {{tienda?.galeria.length}}
        </div>
      </div>
      <div style="color:#444;font-weight:600;font-size:20px">
        {{tienda?.nombre}}
        <!-- Mi tienda en joopiter -->
      </div>
    </button>
  </ion-list>

  <ion-item (click)="openEntregas()" style="margin:10px" no-lines>
    <ion-icon item-start name="bicycle" style="color:orangered;font-size:35px"></ion-icon>
    <div style="color:#777;font-size:22px;font-weight:550">
      Definir envios
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
  </ion-item>

  <button (click)="presentPrompt('nombre')" ion-item style="margin:10px" no-lines>
    <div item-start style="font-size:16px;color:#555;font-weight:500">
      Nombre de la tienda
    </div>
    <div item-end style="font-size:16px;color:#555;font-weight:500">
      {{tienda?.nombre}}
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
  </button>
  <button (click)="presentActionSheet()" ion-item style="margin:10px" no-lines>
    <div item-start style="font-size:16px;color:#555;font-weight:500">
      Imágen de perfil
    </div>
    <div item-end style="font-size:16px;color:#555;font-weight:500">
      1
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
  </button>
  <button (click)="openGaleria()" ion-item style="margin:10px" no-lines>
    <div item-start style="font-size:16px;color:#555;font-weight:500">
      Galería
    </div>
    <div item-end style="font-size:16px;color:#555;font-weight:500">
      {{tienda?.galeria.length}}
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
  </button>

  <!-- <button (click)="presentPrompt('telefono')" ion-item style="margin:10px" no-lines>
    <div item-start style="font-size:16px;color:#555;font-weight:500">
      Telefono
    </div>
    <div item-end style="font-size:16px;color:#555;font-weight:500">
      {{tienda?.telefono}}
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
  </button> -->

  <div (click)="openPage(nuevo)" padding style="background:white">
    <button ion-button block color="secondary" mode="ios">
      <ion-icon name="add-circle" style="margin-right:10px;font-size:30px"></ion-icon>
      <div style="font-weight:600;font-size:16px">
        Nuevo producto
      </div>
    </button>
  </div>

  <div (click)="openPage(producto)" padding style="background:white;width:600">
    <button ion-button block color="secondary" mode="ios">
      <ion-icon name="list" style="margin-right:10px;font-size:30px"></ion-icon>
      <div style="font-weight:600;font-size:16px">
        Mis productos (8)
      </div>
    </button>
  </div>


  <!-- <div padding style="width:100%;display:flex;justify-content:space-between;align-items:center">
    <div (click)="openPage(nuevo)" style="background:salmon;border:1px solid #eee;width:45%;height:100px;border-radius:10px;display:flex;justify-content:center;align-items:center">
      <div style="text-align:center;margin:5px;font-size:18px;color:#fff;font-weight:500">
        Nuevo producto
      </div>
    </div>

    <div (click)="openPage(producto)" style="background:salmon;border:1px solid #eee;width:45%;height:100px;border-radius:10px;display:flex;justify-content:center;align-items:center">
      <div style="text-align:center;margin:5px;font-size:18px;color:#fff;font-weight:500">
        Mis productos (8)
      </div>
    </div>
  </div> -->








</ion-content>