<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Escanear código</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="showProduct">

    <div
      style="border-radius:0px;min-height:240px;width:100%;background-size:cover;background-repeat: no-repeat;background-position: center;"
      [ngStyle]="{'background-image': 'url(' + data?.cupon.imgs[0].img + ')' }">
    </div>

    <div padding>

      <div style="margin-top:0px;color:#777;font-size:16px">
        <span style="color:orangered;font-weight:600">
          ${{data?.cupon.precio.normal}}
        </span>
        <span style="padding:2px;color:white;background:orange;margin-left:5px;font-size:13px">
          - {{data?.cupon.precio.descuento}}%
        </span>
      </div>
      <div style="margin-top:5px;color:#999;font-size:13px">
        <span>
          Precio normal:
        </span>
        <span>
          ${{data?.cupon.precio.oferta}}
        </span>
      </div>

      <div style="margin-top:5px;font-size:16px;color:#444;font-weight:600">
        {{data?.cupon.titulo}}
      </div>
    </div>

    <div *ngIf="data?.isUsed"
      style="margin-bottom:10px;border-bottom:2px dashed #bbb;width:100%;text-align:center;color:#999;font-size:16px;padding-right:15px">
      <ion-icon name="cut" style="font-size:22px;margin-right:5px;color:#bbb"></ion-icon>
      Utilizado
    </div>
    <div *ngIf="!data?.isUsed"
      style="margin-bottom:10px;border-bottom:2px dashed #bbb;width:100%;text-align:center;color:#999;font-size:16px;padding-right:15px">
      <ion-icon name="cut" style="font-size:22px;margin-right:5px;color:#bbb"></ion-icon>
      Nuevo
    </div>
    <!-- <div *ngIf="!data?.isUsed" style="height:10px"></div> -->

    <div padding>
      <div style="margin-bottom:10px;font-size:15px;color:salmon;">
        Ticket Cliente
      </div>
      <div style="width:100%">
        <div style="font-size:14px;color:#999;">
          NOMBRE
        </div>
        <div style="margin-top:5px;margin-bottom:10px;font-size:16px;color:#333;font-weight:600">
          {{data?.cliente.nombre}}
        </div>
        <hr>
        <div style="margin-top:10px;font-size:14px;color:#999;">
          EMAIL
        </div>
        <div style="margin-top:5px;margin-bottom:10px;font-size:16px;color:#333;font-weight:600">
          {{data?.cliente.email}}
        </div>
        <hr>
        <div style="margin-top:10px;font-size:14px;color:#999;">
          HORA DE RESERVA
        </div>
        <div *ngIf="data?.cliente.reserva"
          style="margin-top:5px;margin-bottom:10px;font-size:16px;color:#333;font-weight:600">
          {{data?.cliente.reserva}}
        </div>
      </div>
    </div>

    <div style="height:100px">
    </div>

  </div>





  <div padding *ngIf="showSearch"
    style="width:100%;height:100%;display:flex;align-items:center;justify-content:center;flex-wrap:wrap">
    <img src="assets/qr-code (1).svg" style="width:110px">
    <div style="width:100%;text-align:center;color:#999;font-size:16px;margin-bottom:15px">
      Escanea el código de compra desplegado en la pantalla del smartphone
    </div>
  </div>

</ion-content>




<ion-footer>
  <div padding>
    <button *ngIf="showSearch" (click)="escanearCodigo()" icon-left color="orange3" ion-button block mode="ios">
      <ion-icon name="qr-scanner" style="font-size:22px;margin-right:5px"></ion-icon>
      Escanéar código
    </button>

    <button *ngIf="showProduct" (click)="showSearch = true; showProduct = false" icon-left color="orange3" ion-button
      block mode="ios">
      <ion-icon name="cut" style="font-size:22px;margin-right:5px;"></ion-icon>
      Marcar como Utilizado
    </button>
  </div>
</ion-footer>