<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Mascotas</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="pin" style="color:rgb(253, 131, 86)"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content>


  <div style="margin-bottom:15px;height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>


  <secciones></secciones>


  <hr>


  <div padding>


    <div *ngFor="let tienda of tiendas" (click)="openContent(tienda)" style="margin-bottom:20px">
      <div style="font-size:15px;color:#333;font-weight:600;display:flex;align-items:center">
        {{tienda.descripcion}}
      </div>
      <div style="margin-top:2px;display:flex;align-items:center">
        <ion-icon name="star" [ngStyle]="{'color': (tienda.startAvg >= 1)? 'orange' : '#eee' }"
          style="font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" [ngStyle]="{'color': (tienda.startAvg >= 2)? 'orange' : '#eee' }"
          style="font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" [ngStyle]="{'color': (tienda.startAvg >= 3)? 'orange' : '#eee' }"
          style="font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" [ngStyle]="{'color': (tienda.startAvg >= 4)? 'orange' : '#eee' }"
          style="font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" [ngStyle]="{'color': (tienda.startAvg >= 5)? 'orange' : '#eee' }"
          style="font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          ({{tienda.starts}})
        </div>
        <div style="color:darkorange;font-size:14px;margin-left:10px">
          {{tienda.comentarios}} comentarios
        </div>
      </div>

      <div *ngIf="tienda.isReserva"
        style="margin-top:2px;display:inline-block;font-size:11px;padding:2px;color:#888;border:1px solid #ccc">
        Reservaciones
      </div>

      <div style="margin-top:2px;color:#999;font-size:15px;display:flex;align-items:center">
        {{tienda.nombre}}
        <ion-icon *ngIf="tienda.isCupon" name="custom-coupon" style="color:gold;font-size:16px;margin-left:5px">
        </ion-icon>
        <ion-icon *ngIf="tienda.isBeneficio" name="custom-money-bag"
          style="color:sandybrown;font-size:16px;margin-left:5px"></ion-icon>
      </div>

      <div style="margin-top:2px;width:100%;display:flex;justify-content:space-between">
        <div *ngFor="let img of tienda.tresImgs"
          style="height:90px;width:32%;background-size:cover;background-repeat:no-repeat;background-position:center"
          [ngStyle]="{'background-image': 'url(' + img.url + ')' }">
        </div>
      </div>
    </div>



  </div>


</ion-content>