<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> {{ titulo | placeHolder: "Explorar" }} </ion-title>
    <ion-buttons right>
      <button mode="ios" outline (click)="save()" ion-button small>
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment padding color="danger" mode="ios" [(ngModel)]="modo">
    <ion-segment-button value="servicio"> Servicio </ion-segment-button>
    <ion-segment-button value="evento"> Evento </ion-segment-button>
  </ion-segment>

  <div *ngIf="imagePreview" class="imgBox">
    <img [src]="imagePreview" class="img" />
  </div>
  <div class="imgButton">
    <button ion-button outline small (click)="addImg()">Subir Imágenes</button>
  </div>

  <ion-list style="margin-top:10px">
    <ion-item>
      <ion-input
        [(ngModel)]="titulo"
        type="text"
        placeholder="Título"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        placeholder="Descripción"
        rows="6"
        [(ngModel)]="descripcion"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label style="color:#6c757d">Categoria</ion-label>
      <ion-select [(ngModel)]="categoria">
        <ion-option value="tours_experiencias">Tours y Experiencias</ion-option>
        <ion-option value="spa_peluqueria_belleza"
          >SPA peluquería y belleza</ion-option
        >
        <ion-option value="hoteles_cabanas">Hoteles y cabañas</ion-option>
        <ion-option value="profesionales">Profesionales</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <div item-start>
        <div style="padding:5px;padding-right:30px;color:#777;font-weight:600">
          $
        </div>
      </div>
      <ion-input
        [(ngModel)]="precio"
        type="number"
        placeholder="Precio"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Vender tickets</ion-label>
      <ion-toggle [(ngModel)]="turn_ticket"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="modo == 'evento'">
    <ion-item>
      <div item-start>
        <div style="width:70px;padding:2px;color:#777;font-weight:600">
          Fecha
        </div>
      </div>
      <ion-label>Día de la actividad</ion-label>
      <ion-datetime
        displayFormat="D/MM/YYYY"
        [(ngModel)]="fecha"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <div item-start>
        <div style="width:70px;padding:2px;color:#777;font-weight:600">
          Inicio
        </div>
      </div>
      <ion-label>Hora de inicio</ion-label>
      <ion-datetime displayFormat="h:m A" [(ngModel)]="inicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <div item-start>
        <div style="width:70px;padding:2px;color:#777;font-weight:600">
          Término
        </div>
      </div>
      <ion-label>Hora de término</ion-label>
      <ion-datetime displayFormat="h:m A" [(ngModel)]="termino"></ion-datetime>
    </ion-item>
    <ion-item>
      <div item-start>
        <div style="width:70px;padding:2px;color:#777;font-weight:600">N°</div>
      </div>
      <ion-input
        [(ngModel)]="disponibles"
        type="text"
        placeholder="Tickets disponibles"
      ></ion-input>
      <button item-end outline ion-button mode="ios" small>info</button>
    </ion-item>
    <ion-item>
      <div item-start>
        <div style="width:70px;padding:2px;color:#777;font-weight:600">
          Lugar
        </div>
      </div>
      <ion-input
        [(ngModel)]="lugar"
        type="text"
        placeholder="Dirección de encuentro"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="modo == 'servicio'">
    <ion-item no-lines>
      <ion-label style="color:#6c757d">Duración de la actividad</ion-label>
      <ion-select [(ngModel)]="duracion">
        <ion-option value="15 min">15 min</ion-option>
        <ion-option value="30 min">30 min</ion-option>
        <ion-option value="1h">1h</ion-option>
        <ion-option value="1h 30min">1h 30min</ion-option>
        <ion-option value="2h">2h</ion-option>
        <ion-option value="2h 30min">2h 30min</ion-option>
        <ion-option value="3h">3h</ion-option>
        <ion-option value="4h">4h</ion-option>
        <ion-option value="5h">5h</ion-option>
        <ion-option value="6h">6h</ion-option>
        <ion-option value="7h">8h</ion-option>
      </ion-select>
    </ion-item>
    <!-- <ion-list-header> Lugar </ion-list-header> -->
    <ion-item-divider color="light" class="divider">
      Dirección de encuentro
    </ion-item-divider>
    <ion-item no-lines>
      <ion-input
        [(ngModel)]="lugar"
        type="text"
        placeholder="Ejemplo Av. Ramon Picarte 3020"
      ></ion-input>
    </ion-item>
    <ion-item-divider color="light" class="divider">
      <ion-label>A qué hora comienza?</ion-label>
      <ion-toggle [(ngModel)]="turn_hour"></ion-toggle>
    </ion-item-divider>

    <ion-item *ngFor="let item of horas; let i = index">
      <ion-label>Seleccionar hora</ion-label>
      <ion-datetime displayFormat="h:m A" [(ngModel)]="item[i]"></ion-datetime>
    </ion-item>
    <button
      (click)="addItem('explorar', 0, horas.length)"
      ion-item
      block
      outline
      color="white"
      style="text-transform: none"
    >
      <div style="text-align:right;font-size:16px;font-weight:600;color:#777">
        + Añadir Otra Hora
      </div>
    </button>
  </ion-list>

  <button ion-item *ngIf="modo == 'servicio'" (click)="openMes()">
    <ion-icon
      name="ios-arrow-forward"
      style="color:#777;font-size:18px"
      item-end
    ></ion-icon>
    <div style="font-size:16px;color:#555">Fijar Fechas en Calendario</div>
  </button>
</ion-content>
