<ion-header no-border>
  <ion-navbar color="orange2" align-title="center">
    <ion-title> {{key}} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background:orange">
  <div>
    <div *ngIf="!sesion" style="padding-top:50px;height:100px;width:100%;color:white">
      <div style="width:100%;text-align:center;font-size:26px;font-weight:400">
        Ingrese su email
      </div>
    </div>
    <div style="margin-left:20px;margin-bottom:10px;width:100%;text-align:left;font-size:15px;color:#eee">
      Emailee
    </div>
    <ion-item *ngIf="!sesion" style="background:orange;color:white;font-size:18px">
      <ion-input [(ngModel)]="email" type="email" placeholder="Ej. daniel@gmail.com"></ion-input>
    </ion-item>
    <ion-item *ngIf="sesion" style="background:orange;color:white;font-size:18px">
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="sesion" style="margin-top:20px;margin-left:20px;margin-bottom:10px;width:100%;text-align:left;font-size:15px;color:#eee">
      Contraseña
    </div>
    <ion-item *ngIf="sesion" style="background:orange;color:white;font-size:18px">
      <ion-input [(ngModel)]="password" [type]="passwordType"></ion-input>
      <button *ngIf="!showPass" ion-button item-right clear (click)="showHide()">
        <ion-icon name="md-eye" style="color:#fff;font-size:32px"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button item-right clear (click)="showHide()">
        <ion-icon name="md-eye-off" style="color:#fff;font-size:32px"></ion-icon>
      </button>
    </ion-item>
    <div *ngIf="!sesion" padding style="width:100%;display:flex;justify-content:flex-end">
      <ion-icon *ngIf="email.length<=6 && nextReady" name="ios-arrow-dropright-circle" style="font-size:45px;color:#bbb"></ion-icon>
      <ion-icon *ngIf="email.length>6 && nextReady" (click)="next()" name="ios-arrow-dropright-circle" style="font-size:45px;color:#fff"></ion-icon>
    </div>
    <div *ngIf="sesion" padding style="width:100%;display:flex;justify-content:flex-end">
      <ion-icon *ngIf="(email.length<=6 || password.length<=6) && nextReady" name="ios-arrow-dropright-circle" style="font-size:45px;color:#bbb"></ion-icon>
      <ion-icon *ngIf="email.length>6 && nextReady && password.length>6" (click)="next()" name="ios-arrow-dropright-circle"
        style="font-size:45px;color:#fff"></ion-icon>
    </div>
  </div>

</ion-content>