<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comida</ion-title>
    <ion-buttons right>
      <button (click)="presentPopover($event)" ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>


  <div style="margin-left:15px;margin-top:0px;margin-bottom:10px;color:#444;font-size:20px;font-weight:500">
    Todas las categorías
  </div>

  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let once of data" col-6 col-md-4 col-xl-3>
        <div (click)="openOnce(once)" style="border:1px solid #eee;border-radius:0px">
          <div style="border-radius:0px;min-height:150px; background-size:cover;background-repeat: no-repeat;background-position: center;"
            [ngStyle]="{'background-image': 'url(' + once.imgs[0].url + ')' }">
          </div>
          <!-- <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:400"> -->
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            {{once.titulo}}
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <!-- <div style="color:#444;font-weight:600;font-size:16px"> -->
              <div style="color:#555;font-size:16px">
                <div *ngIf="once.precio.tipo == 'flat'">
                  ${{once.precio.value}}
                </div>
                <div *ngIf="once.precio.tipo != 'flat'">
                  ${{once.precio.array[0].precio}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hayMas">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>