<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div style="color:#bbb;font-weight:800;font-size:22px">
      Cupones
    </div>
    <ion-buttons right>
      <button (click)="presentPopover($event)" ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let coupon of coupons" col-6 col-md-4 col-xl-3>
        <div (click)="openCupon(coupon)" style="border:1px solid #eee;border-radius:0px">
          <div style="position:relative">
            <img [src]="coupon.img.url" style="height:150px;width:100%;object-fit:cover" />
            <!-- <img src="assets/desa06.jpg" style="height:150px;width:100%;object-fit:cover" /> -->
            <div *ngIf="coupon.porcentage" style="position:absolute;top:10px;left:0px;background:orangered;color:white;padding:3px;font-size:14px;font-weight:600">
              {{coupon.porcentage}}
            </div>
            <div style="position:absolute;bottom:10px;right:0px;background:#444;color:white;padding:3px;font-size:14px;font-weight:600">
              143 vendidos
            </div>
          </div>
          <div style="padding:5px;width:100%;font-size:16px;color:#444">
            {{coupon.title}}
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:orangered;font-weight:500;font-size:18px">
                {{coupon.discountPrice}}
              </div>
              <div style="text-decoration: line-through;color:#777;margin-left:10px">
                {{coupon.price}}
              </div>
            </div>            
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>