page-lavado {
 .hola {
    height: 90px;
    width: 90px;
    background: url(https://res.cloudinary.com/ddon9fx1n/image/upload/v1552678637/pasear-perro-482x320.jpg);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    background-size:cover;background-repeat: no-repeat;background-position: center;
 }
}
