<ion-header no-border>

  <ion-navbar color="white">
    <!-- <ion-title>Lavado de autos</ion-title> -->
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="pin" style="color:rgb(253, 131, 86)"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>

  <div *ngIf="true">

    <ion-slides>
      <ion-slide style="background:white">

        <div *ngIf="true" padding
          style="background:white;padding-left:40px;padding-right:40px;margin-top:0px;display:flex;justify-content:space-around;">
          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-car-wash" style="color:dodgerblue;font-size:32px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Lavado
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-rental" style="color:darkorange;font-size:32px"></ion-icon>
              <!-- <img src="assets/car-key.svg" style="width:30px"> -->

            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Rent a car
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-belt" style="color:salmon;font-size:30px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Taller
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-car" style="color:seagreen;font-size:32px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Partes
            </div>
          </div>
        </div>
      </ion-slide>

    </ion-slides>
  </div>


  <button ion-item>
    <div style="font-size:15px;color:#333;font-weight:600">
      A domicilio
    </div>
    <ion-icon name="ios-arrow-forward" item-end style="color:#bbb;font-size:18px"></ion-icon>
  </button>

  <ion-list no-lines>

    <ion-item>
      <div item-end style="position:relative">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552765163/Copy-of-DSC00920-copy-e147.jpg"
          style="height:60px;width:90px;object-fit:cover">
        <div
          style="position:absolute;bottom:0px;left:0px;width:100%;background:rgb(12, 12, 12, 0.7);color:white;font-size:11px;padding:3px">
          Oferta
        </div>
      </div>

      <div style="font-size:15px;color:#444;font-weight:500">
        Lavamos todo y muy bien hecho en 30min de tiempo
      </div>
      <div style="display:flex;align-items:center">
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          (26)
        </div>
      </div>
      <!-- <div style="color:#999;font-size:14px;margin-left:0px">
        27 comentarios
      </div> -->
      <div style="color:#999;font-size:12px">
        <span style="color:forestgreen;font-size:12px;margin-left:0px">
          2 promociones
        </span>
        7:30 - 18:30 abierto
      </div>
    </ion-item>

    <ion-item>
      <div item-end style="position:relative">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552678637/pasear-perro-482x320.jpg"
          style="height:60px;width:90px;object-fit:cover">
        <div
          style="position:absolute;bottom:0px;left:0px;width:100%;background:rgb(12, 12, 12, 0.5);color:white;font-size:11px;padding:3px">
          Paquete
        </div>
      </div>
      <div style="font-size:15px;color:#444;font-weight:500">
        Lavamos todo y muy bien
      </div>
      <div style="display:flex;align-items:center">
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          (26)
        </div>
      </div>
      <div style="color:#999;font-size:14px;margin-left:0px">
        27 comentarios
      </div>
      <!-- <div style="color:#999;font-size:12px">
        <span style="color:forestgreen;font-size:12px;margin-left:0px">
          1 promoción
        </span>
        7:30 - 18:30 abierto
      </div> -->
    </ion-item>

    <ion-item>
      <img item-end
        src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1553026464/f46675155b68c10a956967ee8bf1eee1f4150a24.png"
        style="height:70px;width:100px;object-fit:cover;border:1px solid #eee">
      <div style="font-size:15px;color:#444;font-weight:500">
        Lavamos todo y muy bien
      </div>
      <div style="display:flex;align-items:center">
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          (26)
        </div>
      </div>
      <div style="color:#999;font-size:14px;margin-left:0px">
        27 comentarios
      </div>
      <!-- <div style="color:#999;font-size:12px">
        <span style="color:forestgreen;font-size:12px;margin-left:0px">
          4 promociones
        </span>
        7:30 - 18:30 abierto
      </div> -->
    </ion-item>

  </ion-list>

  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>
  <button ion-item>
    <div style="font-size:16px;color:#333;font-weight:600">
      Todas las categorías
    </div>
    <ion-icon name="ios-arrow-forward" item-end style="color:#bbb;font-size:18px"></ion-icon>
  </button>

  <div padding>

    <div (click)="openContent()">
      <div style="font-size:15px;color:#444;font-weight:500">
        Lavados eco-amigables a domiciliomm
      </div>
      <div style="display:flex;align-items:center">
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          (26)
        </div>
        <div style="color:darkorange;font-size:14px;margin-left:10px">
          14 comentarios
        </div>
      </div>

      <div style="color:#999;font-size:15px">
        7:30 - 18:30 abierto
      </div>

      <div style="width:100%;display:flex;justify-content:space-between">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1553026307/publication-star-car.png"
          style="width:32%;height:90px;object-fit:cover">
        <img
          src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1553026319/volvo_18xc40rdesignsu1b_lowaggressive_amazon-blue-pastello.png"
          style="width:32%;height:90px;object-fit:cover">
        <img
          src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1553026464/f46675155b68c10a956967ee8bf1eee1f4150a24.png"
          style="width:32%;height:90px;object-fit:cover">
      </div>
    </div>


    <div style="margin-top:20px">
      <div style="font-size:15px;color:#444;font-weight:500">
        Lavado profesional ultima tecnología y equipos
      </div>
      <div style="display:flex;align-items:center">
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:orange;font-size:20px;margin-right:5px"></ion-icon>
        <ion-icon name="star" style="color:#eee;font-size:20px;margin-right:5px"></ion-icon>
        <div style="color:#999;font-size:15px">
          (201)
        </div>
        <div style="color:darkorange;font-size:14px;margin-left:10px">
          230 comentarios
        </div>
      </div>
      <div style="color:#999;font-size:15px">
        7:30 - 18:30 abierto
      </div>
      <div style="width:100%;display:flex;justify-content:space-between">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552591316/ydfdgh.jpg"
          style="width:32%;height:90px;object-fit:cover">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552591316/asfsafr.jpg"
          style="width:32%;height:90px;object-fit:cover">
        <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552591316/tttrg.jpg"
          style="width:32%;height:90px;object-fit:cover">
      </div>
    </div>

  </div>











</ion-content>