<ion-header>
  <ion-navbar color="pink" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{titulo | placeHolder:'Nuevo producto'}}
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="saveData()">
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list>

    <!-- <ion-list-header>
      <button ion-button item-start>Button</button>
      Crea un nuevo producto para tu empresa
      <button ion-button outline item-end>Outline</button>
    </ion-list-header>

    <ion-item>
      Item
    </ion-item>

    <button ion-item>
      <ion-icon name="star" item-start></ion-icon>
      Button Item
    </button>

    <ion-item>
      <ion-label>
        Item Label
      </ion-label>
      <div item-content>
        Item Content next to the label
      </div>
    </ion-item> -->

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/03.jpg">
      </ion-avatar>
      Avatar Item
      <button ion-button outline item-end>View</button>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        Item Label
      </ion-label>
      <div item-content>
        Crea un maginifico producto
      </div>
    </ion-item> -->


    <ion-item>
      <ion-input [(ngModel)]="titulo" type="text" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="precio" type="number" placeholder="Precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#6c757d">Colección</ion-label>
      <ion-select [(ngModel)]="coleccion">
        <div *ngFor="let collection of collections">
          <ion-option [value]="collection.id">
            {{collection.title}} ({{collection.itemsIn}})
          </ion-option>
        </div>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <button ion-button item-start>Button</button>
      Item
      <button ion-button outline item-end>Outline</button>
    </ion-item>

    <ion-item-divider>
      Item Divider
      <button ion-button item-end>Button</button>
    </ion-item-divider> -->

    <!-- <button ion-item disabled>
      <button ion-button item-start>
        <ion-icon name="home"></ion-icon>
        Left Icon
      </button>
      Disabled Button Item
      <button ion-button outline item-end>
        <ion-icon name="star"></ion-icon>
        Left Icon
      </button>
    </button> -->

    <!-- <ion-item>
      <ion-avatar item-start>
        <img src="assets/03.jpg">
      </ion-avatar>
      Avatar Item
      <button ion-button outline item-end>View</button>
    </ion-item>

    <ion-item>
      <h2>Item</h2>
      <p>Item Paragraph</p>
      <ion-thumbnail item-end>
        <img src="assets/03.jpg">
      </ion-thumbnail>
    </ion-item>

    <ion-item-sliding>
      <ion-item>
        Item
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary">Archive</button>
      </ion-item-options>
    </ion-item-sliding> -->

  </ion-list>


  <!-- <ion-list style="margin-top:10px">
    <ion-item>
      <ion-input [(ngModel)]="titulo" type="text" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="precio" type="number" placeholder="Precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color:#6c757d">Colección</ion-label>
      <ion-select [(ngModel)]="coleccion">
        <div *ngFor="let collection of collections">
          <ion-option [value]="collection.id">
            {{collection.title}} ({{collection.itemsIn}})
          </ion-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list> -->



  <div padding center>
    <button mode="md" ion-button block outline color="primary" (click)="newCollection()" style="text-transform: none">
      <div style="font-size:16px;font-weight:600;color:#488aff">
        + Añadir Una Colección
      </div>
    </button>
  </div>

</ion-content>