<ion-header no-border>
  <ion-navbar color="white">
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list text-wrap>
    <ion-item>
      <div item-start style="min-height:120px;width:120px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + tienda.tienda.logo + ')' }">
      </div>
      <div style="color:#444;font-weight:600;font-size:22px">
        {{tienda.tienda.nombre}}
      </div>
      <div *ngIf="tienda.tienda.isOpen" style="margin-top:10px;color:#555;font-size:18px">
        Abierto
      </div>
      <div style="color:#555;font-size:15px">
        Envío gratis
      </div>
    </ion-item>
  </ion-list>

  <div style="margin:10px;">
    <div style="background:#fa6e6d;color:white;font-size:18px;width:100%;padding:20px;text-align:center;font-weight:500;border-radius:10px">
      <!-- ¡Vamos a los lugares con las mejores frutas y verduras, seleccionamos
      los productos más frescos y sanos para llevarlos a su casa! -->
      <!-- ¡Seleccionamos los productos más frescos y sanos para llevarlo a su casa! -->
      ¡Vamos a los lugares con las mejores frutas y verduras y las llevamos a la puerta de su hogar!
    </div>
  </div>


  <ion-list>

    <ion-item *ngFor="let producto of productos; let i = index">
      <div style="margin-bottom:10px;color:#444;font-size:18px;font-weight:450">
        {{producto.nombre}} - {{producto.tag}}
      </div>
      <div style="width:100%;display:flex;justify-content:flex-end">
        <div *ngIf="producto.cantidad != 0" style="display:flex;align-items:center">
          <div (click)="addMore('-', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:350;font-size:28px;display:flex;justify-content:center;align-items:center">
            -
          </div>
          <div style="margin-left:10px;margin-right:10px;color:#777;width:25px;height:25px;border-radius:50%;font-weight:500;font-size:17px;display:flex;justify-content:center;align-items:center">
            {{producto.cantidad}}
          </div>
          <div (click)="addMore('+', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:350;font-size:28px;display:flex;justify-content:center;align-items:center">
            +
          </div>
        </div>
        <div *ngIf="producto.cantidad == 0" (click)="addMore('add', i)" style="color:#777;background:#eee;border:0px solid #eee;padding:5px;width:100px;border-radius:10px;font-weight:450;font-size:16px;display:flex;justify-content:center;align-items:center">
          Agregar
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer no-border>
  <button *ngIf="total == 0" [disabled]="true" ion-button full mode="ios" color="orange3" style="margin:0px">
    <div style="font-weight:400;font-size:18px;width:100%;display:flex;align-items:center;justify-content:space-between">
      <div>
      </div>
      <div>
        <ion-icon name="cart" style="color:white;margin-right:5px"></ion-icon>
        Agregar al carrito
      </div>
      <div>
      </div>
    </div>
  </button>
  <button *ngIf="total != 0" (click)="save()" ion-button full mode="ios" color="orange3" style="margin:0px">
    <div style="font-weight:400;font-size:18px;width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="font-size:14px;font-weight:600;background:orangered;display:flex;justify-content:center;align-items:center;border-radius:5px;height:25px;width:25px">
        {{contador}}
      </div>
      <div>
        <ion-icon name="cart" style="color:white;margin-right:5px"></ion-icon>
        Agregar al carrito
      </div>
      <div>
        ${{total}}
      </div>
    </div>
  </button>
</ion-footer>