<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Seleccione un día </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let month of calendar">
    <div class="month">{{ month.month }}</div>
    <div class="days">
      <div>Lu</div>
      <div>Ma</div>
      <div>Mi</div>
      <div>Ju</div>
      <div>Vi</div>
      <div>Sa</div>
      <div>Do</div>
    </div>

    <hr />

    <div class="week" *ngFor="let week of month.weeks">
      <div
        class="day"
        *ngFor="let day of week.days; let i = index"
        [class.active]="day.isActive"
        (click)="select(month.month, day, i)"
      >
        {{ day.num }}
      </div>
    </div>
  </div>
</ion-content>
