<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> {{ titulo | placeHolder: "Packs" }} </ion-title>
    <ion-buttons right>
      <button mode="ios" outline (click)="save()" ion-button small>
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="imagePreview" class="imgBox">
    <img [src]="imagePreview" class="img" />
  </div>
  <div class="imgButton">
    <button ion-button outline small (click)="addImg()">Subir Imágenes</button>
  </div>

  <ion-list style="margin-top:10px">
    <ion-item>
      <ion-input
        [(ngModel)]="titulo"
        type="text"
        placeholder="Título"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        placeholder="Descripción"
        rows="6"
        [(ngModel)]="descripcion"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <div item-start>
        <div
          style="background:#fff;padding:5px;padding-right:30px;border-right:1px solid #bbb;color:#777;font-weight:600"
        >
          $
        </div>
      </div>
      <ion-input
        [(ngModel)]="precio"
        type="number"
        placeholder="Precio"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-item no-lines style="margin-bottom:15px">
    <ion-label style="color:#6c757d">Categoria</ion-label>
    <ion-select [(ngModel)]="categoria">
      <ion-option value="desayunos">Desayunos</ion-option>
      <ion-option value="cajitas_surtidas">Cajitas surtidas</ion-option>
      <ion-option value="desayunos_sorpresa">Desayunos sorpresa</ion-option>
      <ion-option value="panaderia_artesanal">Panadería artesanal</ion-option>
      <ion-option value="kit_ingredientes">Kit de ingredientes</ion-option>
      <ion-option value="helados_cafes">Heladería & cafetería</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item-divider> TABLA DE CONTENIDO </ion-item-divider>
    <ion-item *ngFor="let item of contenido; let i = index">
      <div item-start style="font-weight:600;color:#333">{{ i + 1 }}</div>
      <ion-input
        [(ngModel)]="item[i]"
        type="text"
        placeholder="Escribir"
      ></ion-input>
    </ion-item>
    <button
      (click)="addItem('pack', 0, contenido.length)"
      ion-item
      block
      outline
      color="white"
      style="text-transform: none"
    >
      <div style="text-align:right;font-size:16px;font-weight:600;color:#777">
        + Añadir Otro Item
      </div>
    </button>
  </ion-list>
</ion-content>
