page-post-estudiante {
    .divider {
    font-size: 16px;
    color: #777;
    font-weight: 500;
    }
    .imgButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }
    .imgBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
    .img {
    margin: 10px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    }
}
