<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="openCart()" ion-button icon-only>
        <div style="position:relative">
          <ion-icon name="md-cart" style="font-size:25px;color:#bbb"></ion-icon>
          <div *ngIf="_carro.carro.length>0" style="display:flex;justify-content:center;align-items:center;font-size:10px;background:#EF4F45;color:white;width:15px;height:15px;position: absolute;top:-7px;right:-3px;border-radius:50%">
            {{_carro.carro.length}}
          </div>
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="top:0px;left:0px">
    <ion-slides pager>
      <ion-slide *ngFor="let img of imgs">
        <div style="width:100%;min-height:330px; background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + img.url + ')' }">
        </div>
      </ion-slide>
    </ion-slides>
  </div>




  <div padding>
    <div style="font-size:20px;color:#ff6633;font-weight:500">
      ${{total}}
    </div>
    <div style="margin-top:10px;font-size:16px;font-weight:500;color:#333">
      {{producto.titulo}}
    </div>
    <div style="font-size:16px;color:#777">
      {{producto.descripcion}}
    </div>
  </div>
  <hr>

  <div *ngFor="let variacion of variaciones; let i = index">

    <button (click)="openSelect(i, variacion)" ion-item no-lines>
      <div style="font-size:18px;color:#333;font-weight:500">
        {{variacion.tipo}}
      </div>
      <div item-end style="font-size:15px;color:dodgerblue">
        {{seleccionDelUsuario[i]}}
      </div>
      <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
    </button>

  </div>


  <ion-item style="display:none">
    <ion-label>
      Seleccione una opción
    </ion-label>
    <ion-select (ionChange)="onSelectChange($event)" [(ngModel)]="item" #variacionRef>
      <ion-option *ngFor="let item of selections" [value]="item">{{item}}</ion-option>
    </ion-select>
  </ion-item>




  <div style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div (click)="save()" style="font-weight:500;font-size:12px;color:white;background:#ff6633;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
      AGREGAR AL CARRITO
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:10px"></ion-icon>
    </div>
  </div>

</ion-content>