<ion-header>
  <ion-navbar color="pink" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{titulo | placeHolder:'Nuevo producto'}}
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="saveData()">
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
  <button ion-button (click)="fileInput.click()">Seleccionar</button>

  <div *ngIf="imagePreview" style="display:flex;justify-content:flex-start;flex-wrap:wrap">
    <div *ngFor="let item of imagenesPreview">
      <img [src]="item" style="margin:10px;height:70px;width:70px;object-fit:cover">
    </div>
  </div>
  <div style="width:100%;display:flex;justify-content:center;margin-bottom:20px">
    <button mode="md" ion-button color="primary" (click)="addImg()">
      Subir Imágen
    </button>
  </div>

  <ion-list style="margin-top:10px">
    <ion-item>
      <ion-input [(ngModel)]="titulo" type="text" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="descripcion" placeholder="Descripción" #myInput id="myInput" rows="6" (keyup)="resize()" [(ngModel)]="model"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="opciones" placeholder="Opciones" #myInput id="myInput" rows="6" (keyup)="resize()" [(ngModel)]="model"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label style="color:#6c757d">Categoria</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-option value="pan_gourmet">Fútbol</ion-option>
      <!-- <ion-option value="desayunos">Terrestre</ion-option> -->
      <ion-option value="cafeteria">Actividad por Agua</ion-option>
      <ion-option value="pan_gourmet">Paseo en Barco</ion-option>
    </ion-select>
  </ion-item>


</ion-content>