<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> {{ titulo | placeHolder: "Cupón" }} </ion-title>
    <ion-buttons right>
      <button mode="ios" outline (click)="save()" ion-button small>
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="imagePreview" class="imgBox">
    <img [src]="imagePreview" class="img" />
  </div>
  <div class="imgButton">
    <button ion-button outline small (click)="addImg()">
      Seleccionar Imágen
    </button>
  </div>

  <ion-list style="margin-top:10px">
    <ion-item>
      <ion-input
        [(ngModel)]="titulo"
        type="text"
        placeholder="Título"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        placeholder="Descripción"
        rows="6"
        [(ngModel)]="descripcion"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label style="color:#6c757d">Categoria</ion-label>
      <ion-select [(ngModel)]="categoria">
        <ion-option value="Productos">Productos</ion-option>
        <ion-option value="Spa bienestar & belleza"
          >Spa bienestar & belleza</ion-option
        >
        <ion-option value="Comida">Comida</ion-option>
        <ion-option value="Servicios">Servicios</ion-option>
        <ion-option value="Deportes & Panoramas"
          >Deportes & Panoramas</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <div item-start class="start">$</div>
      <ion-input
        [(ngModel)]="precio"
        type="number"
        placeholder="Precio original"
      ></ion-input>
    </ion-item>
    <ion-item no-lines>
      <div item-start class="start">$</div>
      <ion-input
        [(ngModel)]="precioPromocion"
        type="number"
        placeholder="Precio en promoción"
      ></ion-input>
    </ion-item>

    <!--
      <ion-item>
        <div item-start><div class="start">N°</div></div>
        <ion-input
          [(ngModel)]="disponibles"
          type="number"
          placeholder="Número de cupones disponibles"
        ></ion-input>
      </ion-item>
    -->

    <ion-item-divider color="light" class="divider">
      <ion-label>CONDICIONES</ion-label>
      <ion-toggle [(ngModel)]="turn_conditions"></ion-toggle>
    </ion-item-divider>
    <ion-item *ngFor="let item of condiciones; let i = index">
      <div item-start style="font-weight:600;color:#333">{{ i + 1 }}</div>
      <ion-input
        [(ngModel)]="item[i]"
        type="text"
        placeholder="Escribir"
      ></ion-input>
    </ion-item>
    <button
      (click)="addItem('cupon', 0, condiciones.length)"
      ion-item
      block
      outline
      color="white"
      style="text-transform: none"
    >
      <div style="text-align:right;font-size:16px;font-weight:600;color:#777">
        + Añadir Otra Condición
      </div>
    </button>
  </ion-list>

  <!--
    <ion-list>
      <ion-item-divider style="font-weight:600;color:#333">
        PERIODO DE VALIDEZ
      </ion-item-divider>
      <ion-item>
        <div item-start class="start">Inicio</div>
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime
          displayFormat="D/MM/YYYY"
          [(ngModel)]="fechaInicio"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <div item-start class="start">Término</div>
        <ion-label>Fecha de término</ion-label>
        <ion-datetime
          displayFormat="D/MM/YYYY"
          [(ngModel)]="fechaTermino"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  -->
</ion-content>
