page-new-service {
  .hola {
    background: red;
    color: orange;
  }
  .action-sheet-md {
    text-align: center;
  }

  .action-sheet-md .action-sheet-wrapper {
    margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
    margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
  }

  .action-sheet-md .action-sheet-container {
    padding: 0 10px;
  }

  .action-sheet-md .action-sheet-group {
    border-radius: 13px;
    margin-bottom: 8px;
    background: #f9f9f9;
  }

  .action-sheet-md .action-sheet-group:first-child {
    margin-top: 10px;
  }

  .action-sheet-md .action-sheet-group:last-child {
    margin-bottom: 10px;
  }

  .action-sheet-md .action-sheet-title {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 1.3rem;
    font-weight: 400;
    color: #8f8f8f;
  }

  .action-sheet-md .action-sheet-button {
    margin: 0;
    padding: 18px;
    min-height: 5.6rem;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 2rem;
    color: #007aff;
    background: transparent;
  }

  .action-sheet-md .action-sheet-button:last-child {
    border-bottom-color: transparent;
  }

  .action-sheet-md .action-sheet-button.activated {
    margin-top: -0.55px;
    border-top: 0.55px solid #ebebeb;
    border-bottom-color: #ebebeb;
    background: #ebebeb;
  }

  .action-sheet-md .action-sheet-selected {
    font-weight: bold;
    background: #fff;
  }

  .action-sheet-md .action-sheet-destructive {
    color: #f53d3d;
  }

  .action-sheet-md .action-sheet-cancel {
    font-weight: 600;
    background: #fff;
  }
  .platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .platform-android .action-sheet .action-sheet-title,
  .platform-android .action-sheet .button {
    text-align: left;
    font-size: 16px;
    color: inherit;
  }
  .platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
  }
  .platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
  }
  .platform-android .action-sheet .button.destructive {
    color: red;
  }
  .platform-android .action-sheet .button.active,
  .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
  }
  .platform-android .action-sheet-group {
    border-radius: 0;
    background-color: #fafafa;
  }
  .platform-android .action-sheet-cancel {
    display: none;
  }
  .platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
  }
}
