<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-title> Bandeja de ordenes </ion-title>
    <ion-buttons right>
      <button (click)="presentPopover($event)" ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="type == 'once'">
    <button ion-item *ngFor="let compra of compras" (click)="openPage(compra)">
      <img item-start [src]="compra.img" style="width:100px;height:100px">
      <div>
        {{compra.titulo}}
      </div>
      <hr>
      <div style="font-size:12px;color:dodgerblue">
        Vendedor
      </div>
      <div>
        {{compra.vendedorNombre}}
      </div>
      <div style="font-size:12px;color:dodgerblue">
        Comprador
      </div>
      <div>
        <ion-icon name="md-pin" style="color:orange"></ion-icon>
        {{compra.clienteDireccion}}
      </div>
    </button>
  </ion-list>

  <ion-list *ngIf="type == 'ecommerce'">
    <button ion-item *ngFor="let compra of compras" (click)="openPage(compra)">
      <img item-start [src]="compra.imgs[0].url" style="width:100px;height:100px">
      <div>
        {{compra.titulo}}
      </div>
      <hr>
      <div style="font-size:12px;color:dodgerblue">
        Vendedor
      </div>
      <div>
        {{compra.vendedorNombre}}
      </div>
      <div style="font-size:12px;color:dodgerblue">
        Comprador
      </div>
      <div>
        <ion-icon name="md-pin" style="color:orange"></ion-icon>
        {{compra.clienteDireccion}}
      </div>
    </button>
  </ion-list>

</ion-content>