<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Muebles</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="pin" style="color:rgb(253, 131, 86)"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>




  <!-- <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
      </div> -->





  <div *ngIf="true" style="margin-top:0px;">

    <ion-slides>
      <ion-slide style="background:white">

        <div *ngIf="true"
          style="background:white;padding-left:20px;padding-right:20px;margin-top:0px;display:flex;justify-content:space-between;">
          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-love" style="color:salmon;font-size:30px"></ion-icon>
              <!-- <img src="assets/veterinario.svg" style="width:30px"> -->

            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Clínica
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-dog-walk" style="color:slateblue;font-size:30px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Paseo
            </div>
          </div>


          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-cart" style="color:darkorange;font-size:30px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Pet shop
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="custom-pet-shampoo" style="color:dodgerblue;font-size:30px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Baño
            </div>
          </div>

          <div style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <!-- <ion-icon name="ios-paw" style="color:white;font-size:27px;color:white"></ion-icon> -->
              <ion-icon name="custom-pills" style="color:darkorange;font-size:30px"></ion-icon>
            </div>
            <div style="margin-top:8px;width:100%;text-align:center;font-size:13px;font-weight:450;color:#555">
              Cuidador
            </div>
          </div>
        </div>


        <div *ngIf="false" padding
          style="background:white;padding-left:40px;padding-right:40px;margin-top:0px;display:flex;justify-content:space-around;">

          <div (click)="openPage(estilo)"
            style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;border:1px solid #eee;display:flex;justify-content:center;align-items:center">
              <ion-icon name="woman" style="color:hotpink;font-size:27px"></ion-icon>
            </div>
            <div style="width:100%;text-align:center;font-size:13.5px;font-weight:450;color:#555">
              Estilo
            </div>
          </div>

          <div (click)="openPage(muebles)"
            style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <img src="assets/drawer.svg" style="width:30px">
            </div>
            <div style="width:100%;text-align:center;font-size:13.5px;font-weight:450;color:#555">
              Muebles
            </div>
          </div>


          <div (click)="openPage(super)"
            style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:25px;background:white;display:flex;justify-content:center;align-items:center">
              <ion-icon name="cart" style="color:#488aff;font-size:30px"></ion-icon>
            </div>
            <div style="width:100%;text-align:center;font-size:13.5px;font-weight:450;color:#555">
              Super
            </div>
          </div>


          <div (click)="openPage(alquiler)"
            style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:80px">
            <div
              style="position:relative;height:40px;width:40px;border-radius:50%;background:white;border:1px solid #eee;display:flex;justify-content:center;align-items:center">
              <ion-icon name="ios-home" style="color:orange;font-size:27px"></ion-icon>
            </div>
            <div style="margin-top:10px;width:100%;text-align:center;font-size:13.5px;font-weight:450;color:#555">
              Alquiler
            </div>
          </div>
        </div>


        <div style="height:20px"></div>

      </ion-slide>

    </ion-slides>
  </div>














  <div style="margin-bottom:15px;font-size:15px;color:#444;font-weight:600">
    Lo mas popular
  </div>

  <div class="bottom-lewft" style="margin-bottom:10px">
    <!-- <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
          style="width:100%;height:100px;object-fit:cover"> -->
    <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
      style="width:100%;height:150px;object-fit:cover">
  </div>





  <div style="margin-top:25px;margin-bottom:15px;font-size:15px;color:#444;font-weight:600">
    Modelos Personalizables
  </div>

  <div style="width:100%;display:flex;">
    <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
      style="width:70%;height:100px;object-fit:cover">
    <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586934/48537102455.jpg"
      style="width:30%;height:100px;object-fit:cover">
  </div>

  <div style="width:100%;display:flex;justify-content:space-between">
    <div class="bottom-left" style="width:33%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
        style="width:100%;height:100px;object-fit:cover">
    </div>
    <div class="bottom-left" style="width:33%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
        style="width:100%;height:100px;object-fit:cover">
    </div>
    <div class="bottom-left" style="width:34%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
        style="width:100%;height:100px;object-fit:cover">
    </div>
  </div>






  <div style="margin-top:25px;margin-bottom:15px;font-size:15px;color:#444;font-weight:600">
    Ofertas Flash
  </div>

  <div style="width:100%;display:flex;justify-content:space-between">
    <div class="bottom-left" style="height:150px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586934/48537102455.jpg"
        style="width:100%;height:100px;object-fit:cover">
      <div style="padding:3px">
        <div style="width:100%;text-align:center;font-size:14px;color:orangered">
          $5.600
        </div>
        <div style="width:100%;text-align:center;font-size:14px;color:#777">
          Texto bueno
        </div>
      </div>
    </div>
    <div class="bottom-left" style="height:150px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
        style="width:100%;height:100px;object-fit:cover">
      <div style="padding:3px">
        <div style="width:100%;text-align:center;font-size:14px;color:orangered">
          $5.600
        </div>
        <div style="width:100%;text-align:center;font-size:14px;color:#777">
          Texto bueno
        </div>
      </div>
    </div>
    <div class="bottom-left" style="height:150px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
        style="width:100%;height:100px;object-fit:cover">
      <div style="padding:3px">
        <div style="width:100%;text-align:center;font-size:14px;color:orangered">
          $5.600
        </div>
        <div style="width:100%;text-align:center;font-size:14px;color:#777">
          Texto bueno
        </div>
      </div>
    </div>
  </div>






  <div style="margin-top:25px;margin-bottom:15px;font-size:15px;color:#444;font-weight:600">
    Ofertas Flash
  </div>

  <div style="width:100%;display:flex;justify-content:space-between">
    <div class="bottom-left" style="height:165px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586934/48537102455.jpg"
        style="width:100%;height:100px;object-fit:cover;border-radius:5px 5px 0px 0px">
      <div style="padding:3px">
          <div style="font-size:13.5px;color:#777;font-weight:350">
            Un texto bueno que describe
          </div>
          <div style="margin-top:3px;width:100%;display:flex;justify-content:space-between;align-items:center">
            <div style="font-weight:600;font-size:13px;color:orangered">
              $5.600
            </div>
            <div style="font-size:12px;color:white;padding:1px;border-radius:2px;background:darkorange">
              -16%
            </div>
          </div>
      </div>
    </div>
    <div class="bottom-left" style="height:165px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
        style="width:100%;height:100px;object-fit:cover;border-radius:5px 5px 0px 0px">
      <div style="padding:3px">

        <div style="font-size:13.5px;color:#777;font-weight:350">
          Un texto bueno que describe
        </div>
        <div style="margin-top:3px;width:100%;display:flex;justify-content:space-between;align-items:center">
          <div style="font-weight:600;font-size:13px;color:orangered">
            $5.600
          </div>
          <div style="font-size:12px;color:white;padding:1px;border-radius:2px;background:darkorange">
            -16%
          </div>
        </div>
      </div>

    </div>
    <div class="bottom-left" style="height:165px;width:32%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
        style="width:100%;height:100px;object-fit:cover;border-radius:5px 5px 0px 0px">
      <div style="padding:3px">
        <div style="font-size:13.5px;color:#777;font-weight:350">
          Un texto bueno que describe
        </div>
        <div style="margin-top:3px;width:100%;display:flex;justify-content:space-between;align-items:center">
          <div style="font-weight:600;font-size:13px;color:orangered">
            $5.600
          </div>
          <div style="font-size:12px;color:white;padding:1px;border-radius:2px;background:darkorange">
            -16%
          </div>
        </div>
      </div>
    </div>
  </div>






  <div style="margin-top:25px;margin-bottom:15px;font-size:15px;color:#444;font-weight:600">
    Novedades
  </div>

  <div class="bottom-lewft" style="margin-bottom:10px">
    <!-- <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
      style="width:100%;height:100px;object-fit:cover"> -->
    <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552586651/restaurar_muebles_madera.jpg"
      style="width:100%;height:100px;object-fit:cover">
  </div>

  <div style="width:100%;display:flex;justify-content:space-between">
    <div class="bottom-left" style="height:120px;width:48%">
      <div style="margin:10px;width:100%;text-align:center;font-size:14px;color:#555">
        Texto bueno
      </div>
      <img
        src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552593138/Leche-Colun-light-chocolate-caja-200-cc-1-464856.webp"
        style="width:100%;height:80px;object-fit:cover">
    </div>
    <div class="bottom-left" style="height:120px;width:48%">
      <div style="margin:10px;width:100%;text-align:center;font-size:14px;color:#555">
        Texto bueno
      </div>
      <img
        src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552593138/Leche-Colun-light-chocolate-caja-200-cc-1-464856.webp"
        style="width:100%;height:80px;object-fit:cover">
    </div>
  </div>


</ion-content>