<ion-header no-border>

  <ion-navbar color="white">
    <ion-buttons right>
      <button (click)="save()" small ion-button outline mode="ios">
        Publicar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>

  <hr>
  <div padding style="width:100%;display:flex;justify-content:center;flex-wrap:wrap">
    <div (click)="presentActionSheet()"
      style="margin:10px;width:80px;height:80px;border:1px dashed #eee;display:flex;justify-content:center;align-items:center">
      <ion-icon name="md-camera" style="font-size:32px;color:#999"></ion-icon>
    </div>
    <div *ngFor="let imagen of imagenes">
      <div
        style="margin:10px;min-height:80px;width:80px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + imagen.url + ')' }">
      </div>
    </div>
  </div>


  <div style="padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    ¿Título?
  </div>
  <ion-item>
    <ion-input [(ngModel)]="titulo" type="text" placeholder="Tu respuesta"></ion-input>
  </ion-item>

  <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Breve descripción
  </div>
  <ion-item>
    <ion-textarea rows="3" [(ngModel)]="descripcion" placeholder="Tu respuesta"></ion-textarea>
  </ion-item>

  <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Categoría
  </div>

  <button ion-item>
    <ion-label>
      Seleccionar
    </ion-label>
    <ion-select [(ngModel)]="categoria">
      <ion-option *ngFor="let cat of categorias" [value]="cat"> {{cat}} </ion-option>
    </ion-select>
  </button>

  <div *ngIf="categoria"
    style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Subcategoría
  </div>

  <button ion-item *ngIf="categoria == 'Estilo'">
    <ion-label>
      Seleccionar
    </ion-label>
    <ion-select [(ngModel)]="subcategoria">
      <ion-option *ngFor="let cat of subEstilo" [value]="cat"> {{cat}} </ion-option>
    </ion-select>
  </button>

  <button ion-item *ngIf="categoria == 'Belleza'">
    <ion-label>
      Seleccionar
    </ion-label>
    <ion-select [(ngModel)]="subcategoria">
      <ion-option *ngFor="let cat of subBelleza" [value]="cat"> {{cat}} </ion-option>
    </ion-select>
  </button>


  <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Precio
  </div>

  <div style="margin-top:10px;margin-left:15px;font-size:16px;color:#666;font-weight:400">
    Precio normal:
  </div>
  <div style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:40%;border-bottom:1px solid #ccc;display:flex;align-items:center">
      <div style="font-size:16px;font-weight:500;color:#999;padding:5px">
        $
      </div>
      <ion-input [(ngModel)]="precioNormal" type="tel" placeholder="" style="font-size:16px;border:0x solid white">
      </ion-input>
    </div>
  </div>

  <div style="margin-top:10px;margin-left:15px;font-size:16px;color:#666;font-weight:400">
    Precio de oferta:
  </div>
  <div style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:40%;border-bottom:1px solid #ccc;display:flex;align-items:center">
      <div style="font-size:16px;font-weight:500;color:#999;padding:5px">
        $
      </div>
      <ion-input [(ngModel)]="precioOferta" type="tel" placeholder="" style="font-size:16px;border:0x solid white">
      </ion-input>
    </div>
  </div>


  <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Agregar lo que incluye el cupón
    <ion-icon (click)="showIncluye = !showIncluye" name="ios-information-circle-outline"
      style="margin-left:5px;display:inline-block;font-size:20px;color:#bbb"></ion-icon>
  </div>
  <div *ngIf="showIncluye" style="padding-left:15px;padding-right:15px;color:#555">
    {{ejemploIncluye}}
  </div>
  <ion-item *ngFor="let item of incluye; let i = index" style="margin-top:15px">
    <ion-input [(ngModel)]="item.texto" type="text" [placeholder]="item.placeholder"></ion-input>
  </ion-item>
  <div style="margin-top:20px;width:100%;display:flex;justify-content:center">
    <div (click)="addIncluir()"
      style="padding:4px;padding-left:40px;padding-right:40px;border:1px dashed darkorange;color:darkorange;border-radius:10px">
      + Agregar otro
    </div>
  </div>


  <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:600">
    Agregar condiciones
    <ion-icon (click)="showCondiciones = !showCondiciones" name="ios-information-circle-outline"
      style="margin-left:5px;display:inline-block;font-size:20px;color:#bbb"></ion-icon>

  </div>
  <div *ngIf="showCondiciones" style="padding-left:15px;padding-right:15px;color:#555">
    {{ejemploCondiciones}}
  </div>
  <ion-item *ngFor="let condicion of condiciones; let i = index" style="margin-top:15px">
    <ion-input [(ngModel)]="condicion.texto" type="text" [placeholder]="condicion.placeholder"></ion-input>
  </ion-item>
  <div style="margin-top:20px;width:100%;display:flex;justify-content:center">
    <div (click)="addCondicion()"
      style="padding:4px;padding-left:40px;padding-right:40px;border:1px dashed darkorange;color:darkorange;border-radius:10px">
      + Agregar otro
    </div>
  </div>

  <ion-item no-lines style="margin-top:10px">
    <ion-label>
      <div style="padding:8px;color:#444;font-size:18px;font-weight:600">
        ¿Activar reservaciones?
      </div>
    </ion-label>
    <ion-toggle [(ngModel)]="isReserva" mode="ios"></ion-toggle>
  </ion-item>


  <div style="height:40px">
  </div>

</ion-content>