<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> joopiter </ion-title>
    <ion-buttons right>
      <button *ngIf="showFormulario" (click)="openPage(formulario)" ion-button icon-only>
        <ion-icon name="ios-settings" style="color:#777"></ion-icon>
      </button>
      <button (click)="openPage(carro)" ion-button icon-only>
        <ion-icon name="md-cart" style="color:#bbb"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>


  <div style="margin-top:20px;display:flex;justify-content:space-between;">

    <div style="width:80px"></div>

    <!-- <div (click)="openPage(usuario)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="height:45px;width:45px;border-radius:50%;background:orange;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-person" style="color:white;font-size:30px"></ion-icon>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Usuario
      </div>
    </div> -->

    <!-- <div (click)="openPage(deporte)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
        <div style="position:relative;height:45px;width:45px;border-radius:50%;background:orange;display:flex;justify-content:center;align-items:center">
            <ion-icon name="md-person" style="color:white;font-size:30px"></ion-icon>
          <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:0px;background:white;border:1px solid #eee;color:#777;padding:4px;border-radius:4px">
            comple
          </div>
        </div>
        <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
            Usuario
        </div>
      </div> *ngIf="user?.isDelivery"-->

    <div *ngIf="user?.isDelivery" (click)="openPage(bandeja)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="height:45px;width:45px;border-radius:50%;background:orange;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-archive" style="color:white;font-size:30px"></ion-icon>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Bandeja
      </div>
    </div>

    <!-- <div (click)="openPage(compras)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="position:relative;height:45px;width:45px;border-radius:50%;background:#f53d3d;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-basket" style="color:white;font-size:30px"></ion-icon>
        <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:20px;background:white;border:1px solid #eee;color:#777;padding:4px;border-radius:4px">
          ecommerce
        </div>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Compras
      </div>
    </div> -->

    <div (click)="openPage(compras)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap;margin-right:10px">
      <div style="position:relative;height:45px;width:45px;border-radius:50%;background:#f53d3d;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-basket" style="color:white;font-size:30px"></ion-icon>
        <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:-45px;background:orange;color:white;padding:4px;border-radius:4px;border:0px solid white">
          eCommerce
        </div>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Compras
      </div>
    </div>

    <!-- <div (click)="openPage(compras)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="height:45px;width:45px;border-radius:15px;background:#f53d3d;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-basket" style="color:white;font-size:30px"></ion-icon>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Compras
      </div>
    </div> -->

    <!-- <div (click)="openPage(deporte)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="position:relative;height:45px;width:45px;border-radius:50%;background:white;display:flex;justify-content:center;align-items:center">
        <ion-icon name="ios-football" style="color:#444;font-size:40px"></ion-icon>
        <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:20px;background:white;border:1px solid #eee;color:#777;padding:4px;border-radius:4px">
          reservar
        </div>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Deporte
      </div>
    </div> -->

    <div (click)="openPage(once)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="position:relative;height:45px;width:45px;border-radius:50%;background:slateblue;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-cafe" style="color:white;font-size:30px"></ion-icon>
        <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:-30px;background:#f53d3d;color:white;padding:4px;border-radius:4px">
          delivery
        </div>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Once
      </div>
    </div>

    <div style="width:80px"></div>

    <!-- <div (click)="openPage(recreacion)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="height:45px;width:45px;border-radius:50%;background:#51c0f3;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-boat" style="color:white;font-size:30px"></ion-icon>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Recreación
      </div>
    </div> -->

    <!-- <div (click)="openPage(cesta)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
        <div style="height:45px;width:45px;border-radius:15px;background:#f53d3d;display:flex;justify-content:center;align-items:center">
          <ion-icon name="md-basket" style="color:white;font-size:30px"></ion-icon>
        </div>
        <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
          Mis compras
        </div>
      </div> -->


  </div>

  <!-- <div style="margin-top:15px;display:flex;justify-content:space-between;">
    
    <div (click)="openPage(fruta)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="position:relative;height:45px;width:45px;border-radius:50%;background:salmon;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-nutrition" style="color:white;font-size:30px"></ion-icon>
        <div style="font-size:11px;font-weight:500;position:absolute;top:-10px;right:-30px;background:#f53d3d;color:white;padding:4px;border-radius:4px">
          delivery
        </div>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Frutas
      </div>
    </div>
    
    <div (click)="openPage(misCompras)" style="display:flex;justify-content:center;align-items:center;flex-wrap:wrap">
      <div style="height:45px;width:45px;border-radius:15px;background:#f53d3d;display:flex;justify-content:center;align-items:center">
        <ion-icon name="md-basket" style="color:white;font-size:30px"></ion-icon>
      </div>
      <div style="width:100%;text-align:center;font-size:14px;font-weight:450;color:#555">
        Mis compras
      </div>
    </div>

    <div style="width:80px"></div>
    <div style="width:80px"></div>  

  </div> -->



</ion-content>

<ion-footer padding>
  <div style="margin-top:0px;width:100%;text-align:center;color:#555;font-weight:500;font-size:18px">
    {{mensaje}}
  </div>
  <!-- <div style="margin-top:10px;width:100%;text-align:center;color:#555;font-weight:500;font-size:14px">
    Servicio disponible en Valdivia
  </div> -->
</ion-footer>