<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>Nuevo producto</ion-title>
    <ion-buttons right>
      <button (click)="save()" ion-button [disabled]="!(imagenes.length>0 && categoria?.length>0 && titulo?.length>0 && descripcion?.length>0 && tiempoDeEntrega?.length>0 && (flatPrice || precioSegunPersonas || precioSegunUnidades))"
        outline mode="ios">
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="tipo == 'algo dulce'">

  <hr>
  <div padding style="width:100%;display:flex;justify-content:center;flex-wrap:wrap">
    <div (click)="seleccionar_foto()" style="margin:10px;width:80px;height:80px;border:1px dashed #eee;display:flex;justify-content:center;align-items:center">
      <ion-icon name="md-camera" style="font-size:32px;color:#999"></ion-icon>
    </div>
    <div *ngFor="let imagen of imagenes">
      <div style="margin:10px;min-height:80px;width:80px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + imagen + ')' }">
      </div>
    </div>
  </div>


  <ion-item>
    <ion-input [(ngModel)]="titulo" type="text" placeholder="Título"></ion-input>
  </ion-item>
  <ion-item no-lines>
    <ion-textarea style="border:0px solid #bbb" rows="3" [(ngModel)]="descripcion" placeholder="Descripción"></ion-textarea>
  </ion-item>



  <ion-item no-lines style="color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    Detalles
  </ion-item>
  <button ion-item (click)="openSelect('categoria')">
    <ion-label>
      Categoría
      <div style="color:green">
        {{categoria}}
      </div>
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb"></ion-icon>
    <ion-select [(ngModel)]="categoria" style="display:none" #categoriaRef>
      <ion-option value="Galletas">Galletas</ion-option>
      <ion-option value="Tortas - pastelitos">Tortas - pastelitos</ion-option>
      <ion-option value="Chocolates">Chocolates</ion-option>
      <ion-option value="Cupcakes">Cupcakes</ion-option>
      <ion-option value="Desayunos sorpresa">Desayunos sorpresa</ion-option>
      <ion-option value="Miel - mermeladas">Miel - mermeladas</ion-option>
    </ion-select>
  </button>
  <button ion-item no-lines (click)="openSelect('tiempoDeEntrega')" *ngIf="categoria != 'Desayunos sorpresa'">
    <ion-label>¿Cuántos días
      <div>
        demora en tener listo el producto?
      </div>
      <div style="color:green">
        {{tiempoDeEntrega}}
      </div>
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb"></ion-icon>
    <ion-select [(ngModel)]="tiempoDeEntrega" style="display:none" #tiempoDeEntregaRef>
      <ion-option value="Entrega inmediata">Entrega inmediata</ion-option>
      <ion-option value="Entrega los fines de semana">Entrega los fines de semana</ion-option>
      <ion-option value="Demora 1 día en entregar">1 día</ion-option>
      <ion-option value="Demora 2 día en entregar">2 día</ion-option>
      <ion-option value="Demora 3 día en entregar">3 día</ion-option>
    </ion-select>
  </button>



  <ion-item no-lines style="color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    <ion-label>Variaciones</ion-label>
    <ion-toggle [(ngModel)]="isVariacion" mode="ios"></ion-toggle>
  </ion-item>
  <button *ngIf="isVariacion" ion-item no-lines (click)="openSelect('variacion')">
    <ion-label>
      Agregar una variación
      <div style="color:green">
        {{variacion}}
      </div>
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb"></ion-icon>
    <ion-select (ionChange)="onVaracionChange($event)" [(ngModel)]="variacion" style="display:none" #variacionRef>
      <ion-option value="Color">Color</ion-option>
      <ion-option value="Sabor">Sabor</ion-option>
      <ion-option value="Variedad">Variedad</ion-option>
      <ion-option value="Temática">Temática</ion-option>
    </ion-select>
  </button>

  <div *ngIf="isVariacion  && variaciones.length > 0">
    <div *ngFor="let variacion of variaciones;let i = index">
      <div style="display:flex;justify-content:space-between">
        <div style="margin-left:15px;padding:3px;font-size:18px;color:green">
          &#9679; {{variacion}}
        </div>
        <ion-icon (click)="remove(i, 'variacion')" name="trash" style="color:#bbb;font-size:24px;margin-right:15px"></ion-icon>
      </div>
    </div>
  </div>

  <div *ngIf="isVariacion  && variacion" style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:80%;border:1px solid #eee;display:flex">
      <ion-input [(ngModel)]="variacionItem" type="text" [placeholder]="EjVariacion" style="font-size:16px;border:0x solid white"></ion-input>
      <button (click)="add(variacionItem, 'variacion')" ion-button icon-only clear>
        <ion-icon name="md-add-circle" style="color:#ccc;font-size:28px"></ion-icon>
      </button>
    </div>
  </div>

  <ion-item no-lines style="margin-top:5px;color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    Precio
  </ion-item>
  <button (click)="flat=!flat;personas=false;unidades=false" ion-item no-lines style="color:#777">
    <ion-icon *ngIf="flat" item-start name="radio-button-on" style="color:dodgerblue"></ion-icon>
    <ion-icon item-start *ngIf="!flat" name="radio-button-off" style="color:#bbb"></ion-icon>
    Usar precio fijo
  </button>

  <button (click)="personas=!personas;flat=false;unidades=false" ion-item no-lines style="color:#777">
    <ion-icon *ngIf="personas" item-start name="radio-button-on" style="color:dodgerblue"></ion-icon>
    <ion-icon *ngIf="!personas" item-start name="radio-button-off" style="color:#bbb"></ion-icon>
    Variar precio según número de
    <div>
      personas
    </div>
  </button>

  <button (click)="unidades=!unidades;flat=false;personas=false" ion-item no-lines style="color:#777">
    <ion-icon *ngIf="unidades" item-start name="radio-button-on" style="color:dodgerblue"></ion-icon>
    <ion-icon *ngIf="!unidades" item-start name="radio-button-off" style="color:#bbb"></ion-icon>
    Variar precio según número de
    <div>
      unidades
    </div>
  </button>


  <div *ngIf="flat" style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:40%;border:1px solid #eee;display:flex;align-items:center">
      <div style="font-size:16px;font-weight:500;color:#999;padding:5px;border-right:1px solid #eee">
        $
      </div>
      <ion-input [(ngModel)]="flatPrice" type="tel" placeholder="" style="font-size:16px;border:0x solid white"></ion-input>
    </div>
  </div>

  <div *ngIf="unidades  && unidadesArray.length > 0">
    <div *ngFor="let item of unidadesArray;let i = index">
      <div style="display:flex;justify-content:space-between">
        <div style="margin-left:15px;padding:3px;font-size:18px;color:green">
          &#9679; {{item.unidad}} (${{item.precio}})
        </div>
        <ion-icon (click)="remove(i, 'unidades')" name="trash" style="color:#bbb;font-size:24px;margin-right:15px"></ion-icon>
      </div>
    </div>
  </div>

  <div *ngIf="personas  && personasArray.length > 0">
    <div *ngFor="let item of personasArray;let i = index">
      <div style="display:flex;justify-content:space-between">
        <div style="margin-left:15px;padding:3px;font-size:18px;color:green">
          &#9679; {{item.persona}} (${{item.precio}})
        </div>
        <ion-icon (click)="remove(i, 'personas')" name="trash" style="color:#bbb;font-size:24px;margin-right:15px"></ion-icon>
      </div>
    </div>
  </div>

  <div *ngIf="personas" padding style="width:100%;display:flex">
    <div style="width:120px;border:1px solid #eee;border-right:0px">
      <ion-input [(ngModel)]="precioSegunPersonas" type="tel" placeholder="$" style="font-size:16px;border:0x solid white"></ion-input>
    </div>
    <div style="width:100%;border:1px solid #eee;display:flex;justify-content:space-between">
      <div (click)="openSelect('personas')" style="margin-left:10px;display:flex;align-items:center;color:#999;font-size:16px">
        {{numeroDePersonas}}
        <ion-icon name="arrow-dropdown" style="margin-left:5px;color:#ccc;font-size:28px"></ion-icon>
      </div>
      <ion-item style="display:none">
        <ion-label>
          Personas
        </ion-label>
        <ion-select [(ngModel)]="numeroDePersonas" style="display:none" #personasRef>
          <ion-option value="1 persona">1 persona</ion-option>
          <ion-option value="2 personas">2 personas</ion-option>
          <ion-option value="3 personas">3 personas</ion-option>
          <ion-option value="4 personas">4 personas</ion-option>
          <ion-option value="5 personas">5 personas</ion-option>
          <ion-option value="6 personas">6 personas</ion-option>
          <ion-option value="8 personas">8 personas</ion-option>
          <ion-option value="10 personas">10 personas</ion-option>
          <ion-option value="12 personas">12 personas</ion-option>
          <ion-option value="15 personas">15 personas</ion-option>
          <ion-option value="20 personas">20 personas</ion-option>
          <ion-option value="25 personas">25 personas</ion-option>
          <ion-option value="30 personas">30 personas</ion-option>
        </ion-select>
      </ion-item>
      <button (click)="addPersonas(precioSegunPersonas,numeroDePersonas)" ion-button icon-only clear>
        <ion-icon name="md-add-circle" style="color:#ccc;font-size:28px"></ion-icon>
      </button>
    </div>
  </div>

  <div *ngIf="unidades" padding style="width:100%;display:flex">
    <div style="width:120px;border:1px solid #eee;border-right:0px">
      <ion-input [(ngModel)]="precioSegunUnidades" type="tel" placeholder="$" style="font-size:16px;border:0x solid white"></ion-input>
    </div>
    <div style="width:100%;border:1px solid #eee;display:flex;justify-content:space-between">
      <div (click)="openSelect('unidades')" style="margin-left:10px;display:flex;align-items:center;color:#999;font-size:16px">
        {{numeroDeUnidades}}
        <ion-icon name="arrow-dropdown" style="margin-left:5px;color:#ccc;font-size:28px"></ion-icon>
      </div>
      <ion-item style="display:none">
        <ion-label>
          Unidades
        </ion-label>
        <ion-select [(ngModel)]="numeroDeUnidades" #unidadesRef>
          <ion-option value="1 unidad">1 unidade</ion-option>
          <ion-option value="2 unidades">2 unidades</ion-option>
          <ion-option value="3 unidades">3 unidades</ion-option>
          <ion-option value="4 unidades">4 unidades</ion-option>
          <ion-option value="5 unidades">5 unidades</ion-option>
          <ion-option value="6 unidades">6 unidades</ion-option>
          <ion-option value="8 unidades">8 unidades</ion-option>
          <ion-option value="10 unidades">10 unidades</ion-option>
          <ion-option value="12 unidades">12 unidades</ion-option>
          <ion-option value="15 unidades">15 unidades</ion-option>
          <ion-option value="20 unidades">20 unidades</ion-option>
          <ion-option value="25 unidades">25 unidades</ion-option>
          <ion-option value="30 unidades">30 unidades</ion-option>
        </ion-select>
      </ion-item>
      <button (click)="addUnidades(precioSegunUnidades,numeroDeUnidades)" ion-button icon-only clear>
        <ion-icon name="md-add-circle" style="color:#ccc;font-size:28px"></ion-icon>
      </button>
    </div>
  </div>

  <div style="height:30px"></div>

</ion-content>