<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Ubicación </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div style="color:#444;font-size:22px;font-weight:600">
    Seleccione una ciudad
  </div>

  <button text-wrap (click)="A1=!A1;B1=false; select('valdivia')" ion-item style="color:#777">
    <ion-icon *ngIf="A1" item-start name="radio-button-on" style="color:dodgerblue"></ion-icon>
    <ion-icon *ngIf="!A1" item-start name="radio-button-off" style="color:#bbb"></ion-icon>
    <div style="font-size:16px">
      Valdivia
    </div>
  </button>

  <button text-wrap (click)="B1=!B1;A1=false; select('osorno')" ion-item style="color:#777">
    <ion-icon *ngIf="B1" item-start name="radio-button-on" style="color:dodgerblue"></ion-icon>
    <ion-icon *ngIf="!B1" item-start name="radio-button-off" style="color:#bbb"></ion-icon>
    <div style="font-size:16px">
      Osorno
    </div>
  </button>


</ion-content>