page-blog-content {
  // -webkit-user-select: auto;

  .init {
    font-weight: 500;
  }
  .n1 {
    padding: 5px;
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    // font-size: 16px;
    // color: #333;
    // margin-bottom: 15px;
  }
  .n2 {
    padding: 5px;
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    font-style: italic;
    // font-size: 16px;
    // font-style: italic;
    // color: #333;
    // margin-bottom: 15px;
  }
  .n3 {
    font-size: 28px;
    font-weight: 400;
    color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .n4 {
    font-size: 28px;
    font-weight: 550;
    color: #555;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .centro {
    width: 100%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .ImgClass {
    padding: 10px;
  }
  .centerImg {
    width: 100%;
    text-align: center;
  }
}
