<ion-header no-border>
  <ion-navbar align-title="center" color="dark">
    <div style="color:white;display:flex;padding:5px;justify-content:flex-start;align-items:center">
      <img [src]="data.userImage" style="margin-left:10px;height:40px;width:40px;border-radius:50%">
      <div>
        <div (click)="openUser()" style="margin-left:10px;font-weight:550;font-size:14px">
          {{data.userName}}
        </div>
        <div style="margin-left:10px;font-size:12px;font-weight:400">
          hace 20 días
        </div>
      </div>
    </div>

    <ion-buttons right>
      <button *ngIf="userLike.arrive" (click)="addLike(data.id, userLike.flag, userLike.id)" ion-button icon-only>
        <ion-icon *ngIf="userLike.flag" name="ios-heart" style="font-size:28px;color:#bbb"></ion-icon>
        <ion-icon *ngIf="!userLike.flag" name="ios-heart-outline" style="font-size:28px;color:#bbb"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <div style="padding:10px;margin-top:0px;margin-bottom:0px;font-weight:550;color:#444;font-size:22px">
    {{data.title}}
  </div>
  <hr>

  <div padding>



    <!-- <div *ngFor="let item of render; let i = index">
      <br *ngIf="item.type == 'br'">
      <div *ngIf="item.type == 'text'">
        <div class="{{item.class}}">
          <div (click)="edit(i);init=true" *ngIf="item.isCenter" class="centro">
            {{item.text}}
          </div>
          <div (click)="edit(i);init=true" *ngIf="!item.isCenter">
            {{item.text}}
          </div>
        </div>
      </div>
      <div *ngIf="item.type == 'img'">
        <div class="ImgClass">
          <img [src]="item.img" style="width:100px;height:100px">
        </div>
      </div>
    </div> -->




    <div style="font-weight:400;color:#444;font-size:28px">
      ¡¡Hola!!
    </div>

    <div style="padding:5px;line-height: 1.5;font-size:16px;color:#222">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugiat suscipit optio repellendus vel quia explicabo
      ad, reprehenderit nobis quasi! Obcaecati fuga veniam neque, porro corrupti alias ipsam quas dignissimos!
    </div>

    <img src="assets/e01.jpg" style="padding:10px">
    <div style="padding:5px;line-height: 1.5;font-size:16px;color:#222">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugiat suscipit optio repellendus vel quia explicabo
      ad, reprehenderit nobis quasi! Obcaecati fuga veniam neque, porro corrupti alias ipsam quas dignissimos!
    </div>

    <!-- <div style="margin-top:10px;display:flex;justify-content:flex-start;align-items:flex-start">
      <ion-icon name="ios-heart-outline" style="margin-right:15px;font-size:25px;color:#444"></ion-icon>
      <ion-icon name="ios-download-outline" style="margin-right:15px;font-size:25px;color:#444"></ion-icon>
      <ion-icon name="md-share" style="margin-right:15px;font-size:22px;color:#444"></ion-icon>
    </div> -->

  </div>

  <!-- <div style="width:100%;background:#dcdee3;height:10px">
  </div> -->
  <!-- <h1> {{(blog2$ | async)?.likes}} </h1> -->
  <div style="width:100%;padding:10px;padding-left:15px;background:#edeff1;font-size:14px;font-weight:650;color:#777">
    Me Gusta ( {{ (blog$ | async)?.likes }} )
  </div>

  <div padding style="display:flex;justify-content:flex-start">

    <div *ngFor="let like of likes$  | async" style="margin-right:10px">
      <img [src]="like.userImage" style="width:35px;height:35px;border-radius:50%;object-fit:cover">
    </div>

    <div *ngIf=" ((blog$ | async)?.likes) > 3 " style="width:35px;height:35px;border-radius:50%;background:#eee;display:flex;justify-content:center;align-items:center">
      <ion-icon name="ios-more" style="font-size:28px;color:#bbb"></ion-icon>
    </div>
    <!-- <img src="assets/18.jpg" style="margin-right:10px;width:35px;height:35px;border-radius:50%;object-fit:cover"> -->

  </div>


  <div style="width:100%;padding:10px;padding-left:15px;background:#edeff1;font-size:14px;font-weight:650;color:#777">
    Comentarios ( {{ (blog$ | async)?.comments }} )
  </div>

  <div padding style="padding-bottom:30px;background:#dcdee3;border:0px solid #eee;width:100%;background:white;border-radius:20px 20px 0px 0px">

    <div style="width:100%;height:50px;background:white;display:flex;justify-content:center;align-items:center">
      <img src="assets/18.jpg" style="margin-right:10px;width:35px;height:35px;border-radius:50%;object-fit:cover">
      <div style="width:250px;height:32px">
        <textarea [(ngModel)]="message" style="border:0px;padding:6px;margin:0px;width:250px;height:32px;border-radius:5px;background:rgb(248, 248, 248);font-size:15px;color:#444">
        </textarea>
      </div>
      <ion-icon (click)="addComment(data.id)" name="md-send" style="margin-left:10px;font-size:28px;color:#bbb"></ion-icon>
    </div>



    <div *ngFor="let comment of comments$ | async" style="margin-top:20px;display:flex;justify-content:space-between;align-items:flex-start">
      <img [src]="comment.userImage" style="margin-right:10px;width:35px;height:35px;border-radius:50%;object-fit:cover">
      <div style="width:100%;font-size:14px;color:#222">
        <div style="font-weight:600;color:#222">
          {{comment.userName}}
        </div>
        {{comment.message}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nobis accusantium illo cumque non, officia
        iure accusamus laborum doloribus laudantium? Dolorum expedita cupiditate ad omnis recusandae sequi officiis doloribus
        possimus.
      </div>
      <div>
        <!-- <div (click)="" style="width:100%;font-size:14;color:#888;font-weight:500;display:flex;align-items:center">
          2
          <ion-icon name="ios-heart-outline" style="margin-left:5px;font-size:25px;color:#bbb"></ion-icon>
        </div> -->
      </div>
    </div>




  </div>

</ion-content>