<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Alquiler</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="pin" style="color:rgb(253, 131, 86)"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div style="margin-left:15px;color:#515c6f;font-size:18px;font-weight:500">
    22 resultados - Valdivia
  </div>



  <ion-grid *ngIf="true">
    <ion-row>

      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:1px solid #eee;border-radius:5px 5px 0px 0px">
          <div>
            <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
              style="object-fit:cover;height:160px;width:100%;border-radius:5px 5px 0px 0px">
            <div style="width:100%">
              <div
                style="padding:5px;background:white;">
                <div>
                  <div style="font-size:16px;font-weight:500;color:#666">
                    Habitación con vista al río
                  </div>
                  <div style="margin-top:5px;color:#999;font-size:12.5px">
                      Caben 4 - 2 camas - 1 ducha - 1 baño
                  </div>
                  <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                    $25.000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col col-6 col-md-4 col-xl-3>
          <div style="border:1px solid #eee;border-radius:5px 5px 0px 0px">
              <div>
              <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552796047/cabanas-vip-movil-1.jpg"
                style="object-fit:cover;height:160px;width:100%;border-radius:5px 5px 0px 0px">
                <div style="width:100%">
                    <div
                  style="padding:5px;background:white;">
                  <div>
                    <div style="font-size:16px;font-weight:500;color:#666">
                      Habitación con vista al río
                    </div>
                    <div style="margin-top:5px;color:#999;font-size:12.5px">
                      Caben 4 - 2 camas - 1 ducha - 1 baño
                    </div>
                    <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                      $25.000
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>


        <ion-col col-6 col-md-4 col-xl-3>
            <div style="border:1px solid #eee;border-radius:5px 5px 0px 0px">
                <div>
                <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
                  style="object-fit:cover;height:160px;width:100%;border-radius:5px 5px 0px 0px">
                  <div style="width:100%">
                      <div
                    style="padding:5px;background:white;">
                    <div>
                      <div style="font-size:16px;font-weight:500;color:#666">
                        Habitación con vista al río
                      </div>
                      <div style="margin-top:5px;color:#999;font-size:12.5px">
                          Caben 4 - 2 camas - 1 ducha - 1 baño
                      </div>
                      <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                        $25.000
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>


          <ion-col col-6 col-md-4 col-xl-3>
              <div style="border:1px solid #eee;border-radius:5px 5px 0px 0px">
                  <div>
                  <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
                    style="object-fit:cover;height:160px;width:100%;border-radius:5px 5px 0px 0px">
                    <div style="width:100%">
                        <div
                      style="padding:5px;background:white;">
                      <div>
                        <div style="font-size:16px;font-weight:500;color:#666">
                          Habitación con vista al río
                        </div>
                        <div style="margin-top:5px;color:#999;font-size:12.5px">
                            Caben 4 - 2 camas - 1 ducha - 1 baño
                        </div>
                        <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                          $25.000
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>




      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:0px solid #eee;border-radius:0px">
          <div style="position:relative;height:230px">
            <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
              style="object-fit:cover;height:150px;width:100%;border-radius:5px">
            <div style="position:absolute;left:0px;top:120px;width:100%">
              <div
                style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                <div>
                  <div style="font-size:16px;font-weight:500;color:#666">
                    Habitación con vista al río
                  </div>
                  <div style="margin-top:5px;color:#999;font-size:12px">
                    Caben 4 - 2 camas - 1 ducha - 1 baño
                  </div>
                  <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                    $25.000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:0px solid #eee;border-radius:0px">
          <div style="position:relative;height:230px">
            <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
              style="object-fit:cover;height:150px;width:100%;border-radius:5px">
            <div style="position:absolute;left:0px;top:120px;width:100%">
              <div
                style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                <div>
                  <div style="font-size:16px;font-weight:500;color:#666">
                    Habitación con vista al río
                  </div>
                  <div style="margin-top:5px;color:#999;font-size:12px">
                    Caben 4 - 2 camas - 1 ducha - 1 baño
                  </div>
                  <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                    $25.000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col col-6 col-md-4 col-xl-3>
          <div style="border:0px solid #eee;border-radius:0px">
            <div style="position:relative;height:230px">
              <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
                style="object-fit:cover;height:150px;width:100%;border-radius:5px">
              <div style="position:absolute;left:0px;top:120px;width:100%">
                <div
                  style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                  <div>
                    <div style="font-size:16px;font-weight:500;color:#666">
                      Habitación con vista al río
                    </div>
                    <div style="margin-top:5px;color:#999;font-size:12px">
                      Caben 4 - 2 camas - 1 ducha - 1 baño
                    </div>
                    <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                      $25.000
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
  
  
        <ion-col col-6 col-md-4 col-xl-3>
          <div style="border:0px solid #eee;border-radius:0px">
            <div style="position:relative;height:230px">
              <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
                style="object-fit:cover;height:150px;width:100%;border-radius:5px">
              <div style="position:absolute;left:0px;top:120px;width:100%">
                <div
                  style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                  <div>
                    <div style="font-size:16px;font-weight:500;color:#666">
                      Habitación con vista al río
                    </div>
                    <div style="margin-top:5px;color:#999;font-size:12px">
                      Caben 4 - 2 camas - 1 ducha - 1 baño
                    </div>
                    <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                      $25.000
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
  
        <ion-col col-6 col-md-4 col-xl-3>
          <div style="border:0px solid #eee;border-radius:0px">
            <div style="position:relative;height:230px">
              <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
                style="object-fit:cover;height:150px;width:100%;border-radius:5px">
              <div style="position:absolute;left:0px;top:120px;width:100%">
                <div
                  style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                  <div>
                    <div style="font-size:16px;font-weight:500;color:#666">
                      Habitación con vista al río
                    </div>
                    <div style="margin-top:5px;color:#999;font-size:12px">
                      Caben 4 - 2 camas - 1 ducha - 1 baño
                    </div>
                    <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                      $25.000
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>


        <ion-col col-6 col-md-4 col-xl-3>
            <div style="border:0px solid #eee;border-radius:0px">
              <div style="position:relative;height:230px">
                <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
                  style="object-fit:cover;height:150px;width:100%;border-radius:5px">
                <div style="position:absolute;left:0px;top:120px;width:100%">
                  <div
                    style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                    <div>
                      <div style="font-size:16px;font-weight:500;color:#666">
                        Habitación con vista al río
                      </div>
                      <div style="margin-top:5px;color:#999;font-size:12px">
                        Caben 4 - 2 camas - 1 ducha - 1 baño
                      </div>
                      <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                        $25.000
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
    
    
          <ion-col col-6 col-md-4 col-xl-3>
            <div style="border:0px solid #eee;border-radius:0px">
              <div style="position:relative;height:230px">
                <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
                  style="object-fit:cover;height:150px;width:100%;border-radius:5px">
                <div style="position:absolute;left:0px;top:120px;width:100%">
                  <div
                    style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                    <div>
                      <div style="font-size:16px;font-weight:500;color:#666">
                        Habitación con vista al río
                      </div>
                      <div style="margin-top:5px;color:#999;font-size:12px">
                        Caben 4 - 2 camas - 1 ducha - 1 baño
                      </div>
                      <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                        $25.000
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
    
          <ion-col col-6 col-md-4 col-xl-3>
            <div style="border:0px solid #eee;border-radius:0px">
              <div style="position:relative;height:230px">
                <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
                  style="object-fit:cover;height:150px;width:100%;border-radius:5px">
                <div style="position:absolute;left:0px;top:120px;width:100%">
                  <div
                    style="border-radius:3px;padding:5px;border:1px solid rgb(245, 245, 245);width:90%;margin-left:5%;margin-right:5%;background:white;">
                    <div>
                      <div style="font-size:16px;font-weight:500;color:#666">
                        Habitación con vista al río
                      </div>
                      <div style="margin-top:5px;color:#999;font-size:12px">
                        Caben 4 - 2 camas - 1 ducha - 1 baño
                      </div>
                      <div style="text-align:right;font-weight:500;margin-top:5px;color:orangered;font-size:16px">
                        $25.000
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>



    </ion-row>
  </ion-grid>






  <ion-grid *ngIf="false">
    <ion-row>

      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:1px solid #eee;border-radius:0px">
          <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552587649/c124e135c76d7c26b0.jpg"
            style="object-fit:cover;height:150px;width:100%">
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            Mesa De Noche Habitacion 2 Cajones
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div>
                  $38.000
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:1px solid #eee;border-radius:0px">
          <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588171/mesa-de-centro-eleva.jpg"
            style="object-fit:cover;height:150px;width:100%">
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            Mesa De Centro Elevable
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div>
                  $35.000
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>


      <ion-col col-6 col-md-4 col-xl-3>
        <div style="border:1px solid #eee;border-radius:0px">
          <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588449/mesa_madera_.jpg"
            style="object-fit:cover;height:150px;width:100%">
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            Combo Comedor Mesa 1.20 + 4 Sillas
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div>
                  $70.000
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col col-6 col-md-4 col-xl-3>
        <div (click)="openOnce(once)" style="border:1px solid #eee;border-radius:0px">
          <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552588624/Velador-augusta-moderno1.jpg"
            style="object-fit:cover;height:150px;width:100%">
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            Velador Augusta Moderno
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div>
                  $32.000
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>







  <ion-list *ngIf="false" text-wrap>

    <ion-item>
      <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
        style="height:120px;width:120px;object-fit:cover">
      <div>
        <div style="font-size:16px;font-weight:500;color:#666">
          Habitación para 4 personas y vista al río
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          Caben 4
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          2 camas - 1 ducha - 1 baño
        </div>
        <div style="margin-top:5px;color:darkorange;font-size:16px">
          $25.000
        </div>
      </div>
    </ion-item>

    <ion-item>
      <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
        style="height:120px;width:120px;object-fit:cover">
      <div>
        <div style="font-size:16px;font-weight:500;color:#666">
          Cabaña ubicación céntrica en valdivia
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          Caben 4
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          2 camas - 1 ducha - 1 baño
        </div>
        <div style="margin-top:5px;color:darkorange;font-size:16px">
          $30.000
        </div>
      </div>
    </ion-item>

    <ion-item>
      <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
        style="height:120px;width:120px;object-fit:cover">
      <div>
        <div style="font-size:16px;font-weight:500;color:#666">
          Casa de alojamiento
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          Caben 4
        </div>
        <div style="margin-top:5px;color:#999;font-size:14px">
          Cabaña completa - 2 camas - 1 ducha - 1 baño
        </div>
        <div style="margin-top:5px;color:darkorange;font-size:16px">
          $50.000
        </div>
      </div>
    </ion-item>

    <ion-item>
        <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
          style="height:120px;width:120px;object-fit:cover">
        <div>
          <div style="font-size:16px;font-weight:500;color:#666">
            Casa de alojamiento
          </div>
          <div style="margin-top:5px;color:#999;font-size:14px">
            Caben 4
          </div>
          <div style="margin-top:5px;color:#999;font-size:14px">
            Cabaña completa - 2 camas - 1 ducha - 1 baño
          </div>
          <div style="margin-top:5px;color:darkorange;font-size:16px">
            $50.000
          </div>
        </div>
      </ion-item>

  </ion-list>









  <ion-list *ngIf="false">

      <ion-item>
        <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
          style="height:90px;width:90px;object-fit:cover">
        <div>
          <div style="font-size:16px;font-weight:500;color:#666">
            Habitación para 4 personas y vista al río
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            Caben 4
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            2 camas - 1 ducha - 1 baño
          </div>
          <div style="margin-top:0px;color:darkorange;font-size:16px">
            $25.000
          </div>
        </div>
      </ion-item>
  
      <ion-item>
        <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/2b.jpg"
          style="height:90px;width:90px;object-fit:cover">
        <div>
          <div style="font-size:16px;font-weight:500;color:#666">
            Cabaña ubicación céntrica en valdivia
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            Caben 4
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            2 camas - 1 ducha - 1 baño
          </div>
          <div style="margin-top:0px;color:darkorange;font-size:16px">
            $30.000
          </div>
        </div>
      </ion-item>
  
      <ion-item>
        <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
          style="height:90px;width:90px;object-fit:cover">
        <div>
          <div style="font-size:16px;font-weight:500;color:#666">
            Casa de alojamiento
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            Caben 4
          </div>
          <div style="margin-top:0px;color:#999;font-size:14px">
            Cabaña completa - 2 camas - 1 ducha - 1 baño
          </div>
          <div style="margin-top:0px;color:darkorange;font-size:16px">
            $50.000
          </div>
        </div>
      </ion-item>

      <ion-item>
          <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
            style="height:90px;width:90px;object-fit:cover">
          <div>
            <div style="font-size:16px;font-weight:500;color:#666">
              Habitación para 4 personas y vista al río
            </div>
            <div style="margin-top:0px;color:#999;font-size:14px">
              Caben 4
            </div>
            <div style="margin-top:0px;color:#999;font-size:14px">
              2 camas - 1 ducha - 1 baño
            </div>
            <div style="margin-top:0px;color:darkorange;font-size:16px">
              $25.000
            </div>
          </div>
        </ion-item>

        <ion-item>
            <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592502/eeerre.jpg"
              style="height:90px;width:90px;object-fit:cover">
            <div>
              <div style="font-size:16px;font-weight:500;color:#666">
                Habitación para 4 personas y vista al río
              </div>
              <div style="margin-top:0px;color:#999;font-size:14px">
                Caben 4
              </div>
              <div style="margin-top:0px;color:#999;font-size:14px">
                2 camas - 1 ducha - 1 baño
              </div>
              <div style="margin-top:0px;color:darkorange;font-size:16px">
                $25.000
              </div>
            </div>
          </ion-item>
  
      <ion-item>
          <img item-start src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1552592501/wesdsf.jpg"
            style="height:90px;width:90px;object-fit:cover">
          <div>
            <div style="font-size:16px;font-weight:500;color:#666">
              Casa de alojamiento
            </div>
            <div style="margin-top:0px;color:#999;font-size:14px">
              Caben 4
            </div>
            <div style="margin-top:0px;color:#999;font-size:14px">
              Cabaña completa - 2 camas - 1 ducha - 1 baño
            </div>
            <div style="margin-top:0px;color:darkorange;font-size:16px">
              $50.000
            </div>
          </div>
        </ion-item>
  
    </ion-list>

</ion-content>