<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-title>Mis productos</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col padding *ngFor="let once of productos" col-6 col-md-4 col-xl-3>
        <!-- (click)="openOnce(once)" -->
        <div style="border:1px solid #eee;border-radius:0px">
          <div style="border-radius:5px;min-height:130px; background-size:cover;background-repeat: no-repeat;background-position: center;"
            [ngStyle]="{'background-image': 'url(' + once.imgs[0].url + ')' }">
          </div>
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            {{once.titulo}}
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div *ngIf="once?.precio.value">
                  ${{once.precio.value}}
                </div>
                <div *ngIf="!once?.precio.value">
                  Desde ${{once?.precio.array[0].precio}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>