<ion-header no-border>
  <ion-navbar color="orange" align-title="center">
    <ion-title> Registrar </ion-title>

  </ion-navbar>
</ion-header>
<ion-content style="background:orangered">
  <div>
    <div style="padding-top:50px;height:100px;width:100%;color:white">

      <div style="width:100%;text-align:center;font-size:26px;font-weight:400">
        Crea una contraseña
      </div>
    </div>
    <div style="margin-left:20px;margin-bottom:10px;width:100%;text-align:left;font-size:15px;color:#eee">
      Contraseña
    </div>
    <ion-item style="background:orangered;color:white;font-size:18px">
      <ion-input [(ngModel)]="password" [type]="passwordType" placeholder="Al menos 6 caracteres"></ion-input>
      <button *ngIf="!showPass" ion-button item-right clear (click)="showHide()">
        <ion-icon name="md-eye" style="color:#fff;font-size:32px"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button item-right clear (click)="showHide()">
        <ion-icon name="md-eye-off" style="color:#fff;font-size:32px"></ion-icon>
      </button>
    </ion-item>

    <div padding style="width:100%;display:flex;justify-content:flex-end">
      <ion-icon *ngIf="password.length<=6" name="ios-arrow-dropright-circle" style="font-size:40px;color:#bbb"></ion-icon>
      <ion-icon *ngIf="password.length>6" (click)="next()" name="ios-arrow-dropright-circle" style="font-size:40px;color:#fff"></ion-icon>
    </div>

  </div>

</ion-content>