// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



// ------------------------------------------
//   ACTION SHEETS IGUAL A ISO
// ------------------------------------------

.action-sheet-md {
  text-align: center;
}

.action-sheet-md .action-sheet-wrapper {
  margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
  margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
}

.action-sheet-md .action-sheet-container {
  padding: 0 10px;
}

.action-sheet-md .action-sheet-group {
  border-radius: 13px;
  margin-bottom: 8px;
  background: #f9f9f9;
}

.action-sheet-md .action-sheet-group:first-child {
  margin-top: 10px;
}

.action-sheet-md .action-sheet-group:last-child {
  margin-bottom: 10px;
}

.action-sheet-md .action-sheet-title {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 16px;
  font-weight: 400;
  color: #8f8f8f;
}

.action-sheet-md .action-sheet-button {
  margin: 0;
  padding: 18px;
  min-height: 5.6rem;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 2rem;
  color: #007aff;
  background: transparent;
}

.action-sheet-md .action-sheet-button:last-child {
  border-bottom-color: transparent;
}

.action-sheet-md .action-sheet-button.activated {
  margin-top: -0.55px;
  border-top: 0.55px solid #ebebeb;
  border-bottom-color: #ebebeb;
  background: #ebebeb;
}

.action-sheet-md .action-sheet-selected {
  font-weight: bold;
  background: #fff;
}

.action-sheet-md .action-sheet-destructive {
  color: #f53d3d;
}

.action-sheet-md .action-sheet-cancel {
  font-weight: 600;
  background: #fff;
}

// ------------------------------------------
//   SLIDES - PAGINADOR - CAMBIO BULLET COLOR
// ------------------------------------------

.swiper-pagination-bullet {
  background: gray;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: gray;
}

.alert-radio-label {
  white-space: normal!important;
}


// ------------------------------------------
//   ICONOS
// ------------------------------------------

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="dog"] {
    mask-image: url(../assets/dog.svg);
  }
  &[class*="dog-head"] {
    mask-image: url(../assets/dog-head.svg);
  }
  &[class*="cake"] {
    mask-image: url(../assets/cake.svg);
  }
  &[class*="car"] {
    mask-image: url(../assets/car.svg);
  }
  &[class*="food"] {
    mask-image: url(../assets/food.svg);
  }
  &[class*="eyelashes"] {
    mask-image: url(../assets/eyelashes.svg);
  }
  &[class*="groceries"] {
    mask-image: url(../assets/groceries.svg);
  }
  &[class*="cart"] {
    mask-image: url(../assets/cart.svg);
  }
  &[class*="car-wash"] {
    mask-image: url(../assets/car-wash.svg);
  }
  &[class*="pills"] {
    mask-image: url(../assets/pills.svg);
  }
  &[class*="dog-walk"] {
    mask-image: url(../assets/dog-walk.svg);
  }
  &[class*="veterinario"] {
    mask-image: url(../assets/veterinario.svg);
  }
  &[class*="love"] {
    mask-image: url(../assets/love.svg);
  }
  &[class*="pet-shampoo"] {
    mask-image: url(../assets/pet-shampoo.svg);
  }
  &[class*="dog-food"] {
    mask-image: url(../assets/dog-food.svg);
  }
  &[class*="wax"] {
    mask-image: url(../assets/wax.svg);
  }
  &[class*="hair"] {
    mask-image: url(../assets/hair.svg);
  }
  &[class*="maditation"] {
    mask-image: url(../assets/meditation.svg);
  }
  &[class*="nail"] {
    mask-image: url(../assets/nail.svg);
  }
  &[class*="key"] {
    mask-image: url(../assets/key.svg);
  }
  &[class*="car-key"] {
    mask-image: url(../assets/car-key.svg);
  }
  &[class*="battery"] {
    mask-image: url(../assets/battery.svg);
  }
  &[class*="tools"] {
    mask-image: url(../assets/tools.svg);
  }
  &[class*="belt"] {
    mask-image: url(../assets/belt.svg);
  }
  &[class*="rental"] {
    mask-image: url(../assets/rental.svg);
  }
  &[class*="face-mask"] {
    mask-image: url(../assets/face-mask.svg);
  }
  &[class*="scissors"] {
    mask-image: url(../assets/scissors.svg);
  }
  &[class*="blade"] {
    mask-image: url(../assets/blade.svg);
  }
  &[class*="rock"] {
    mask-image: url(../assets/rock.svg);
  }
  &[class*="hearing"] {
    mask-image: url(../assets/hearing.svg);
  }
  &[class*="man-hair"] {
    mask-image: url(../assets/man-hair.svg);
  }
  &[class*="woman-hair"] {
    mask-image: url(../assets/woman-hair-2.svg);
  }
  &[class*="qr-code"] {
    mask-image: url(../assets/qr-code.svg);
  }

}