<ion-menu [content]="content">
  <ion-content class="card-background-page">
    <ion-item *ngIf="isAuth" no-lines color="orange2">
      <ion-icon item-start *ngIf="!user?.img" name="md-contact" style="color:#fff;font-size:50px"></ion-icon>
      <div style="color:white;font-size:16px;">
        <div> {{user.local?.email}} </div>
        <div> {{user?.name | titlecase}} </div>
      </div>
      <!-- <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:26px"></ion-icon> -->
    </ion-item>

    <div *ngIf="!isAuth" style="padding:20px;background:orange;width:100%;display:flex;justify-content:center">
      <div style="text-align:center;color:white;width:150px;font-size:20px;font-weight:600">
        Bienvenidos a joopiter
      </div>
    </div>

    <ion-list no-lines>
      <button ion-item (click)="openPage(home)">
        <ion-icon item-start name="md-home" style="color:#bbb"></ion-icon>
        <div style="color:#777;font-weight:450;font-size:16px">
          Home
        </div>
      </button>
      <button *ngIf="isAuth" ion-item (click)="openPage(pedidos)">
        <ion-icon item-start name="md-bicycle" style="color:#bbb"></ion-icon>
        <div style="color:#777;font-weight:450;font-size:16px">
          Todas mis compras
        </div>
      </button>
    </ion-list>


  </ion-content>

  <ion-footer *ngIf="isAuth">
    <button ion-item no-lines (click)="logout()">
      <ion-icon item-start name="ios-log-out" style="color:dodgerblue;font-size:25px;font-weight:800"></ion-icon>
      <div style="font-size:16px;color:#222">Cerrar sesión</div>
    </button>
    <div style="margin-top:5px;height:15px;width:100%;background:#eee"></div>
  </ion-footer>

  <ion-footer *ngIf="!isAuth">
    <button ion-item no-lines (click)="openLogin()">
      <div style="font-size:16px;color:#222">Crear cuenta o identifícate</div>
      <ion-icon item-start name="ios-log-in" style="color:#bbb;font-size:25px;font-weight:800"></ion-icon>
    </button>
    <div style="margin-top:5px;height:15px;width:100%;background:#eee"></div>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>