<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title> Galletas </ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="top:0px;left:0px">
    <ion-slides pager>
      <ion-slide *ngFor="let img of imgs">
        <div style="width:100%;min-height:300px; background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + img.url + ')' }">
        </div>
        <div style="height:30px"></div>
      </ion-slide>
    </ion-slides>
  </div>

  <div padding style="width:100%;text-align:left;color:dodgerblue;font-weight:600">
    ${{total}}
    <span style="padding:5px;color:#777;font-weight:450">
      + $1000 delivery
    </span>
  </div>

  <div padding style="margin-top:-15px">
    <div style="font-size:18px;font-weight:500;color:#333">
      {{data.titulo}}
    </div>
    <div style="margin-top:10px;font-size:15px;color:#999">
      {{data.descripcion}}
    </div>
  </div>

  <ion-list padding>
    <!-- <button ion-item no-lines style="margin-top:15px;border:0px solid #333;border-radius:3px">
      <ion-icon item-end name="md-radio-button-on" class="radio-active"></ion-icon>
      <div style="font-size:16px;color:#555"> {{data.tipo}} por ${{data.precio}}</div>
    </button> -->
    <ion-item *ngIf="data.variedad.isActive" no-lines style="margin-top:15px;border:0.5px solid #bbb;border-radius:3px">
      <ion-label style="color:#6c757d">Variedad</ion-label>
      <ion-select [(ngModel)]="variedad" (ionChange)="cantidadX(cantidad)">
        <ion-option *ngFor="let variedad of variedades" [value]="variedad"> {{variedad}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="data.tamano.isActive" no-lines style="margin-top:15px;border:0.5px solid #bbb;border-radius:3px">
      <ion-label style="color:#6c757d">Tamaño</ion-label>
      <ion-select [(ngModel)]="tamano" (ionChange)="cantidadX(cantidad)">
        <ion-option *ngFor="let tamano of tamanos" [value]="tamano"> {{tamano}} </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines style="margin-top:15px;border:0.5px solid #bbb;border-radius:3px;color:#555">
      {{data.tiempoDeEntrega}}
    </ion-item>
    <!-- <ion-item no-lines style="margin-top:15px;border:0.5px solid #bbb;border-radius:3px">
      <ion-label style="color:#6c757d">Cantidad</ion-label>
      <ion-select [(ngModel)]="cantidadd" (ionChange)="cantidadX(cantidad)">
        <ion-option value="1"> X1 </ion-option>
        <ion-option value="2"> X2 </ion-option>
        <ion-option value="3"> X3 </ion-option>
        <ion-option value="4"> X4 </ion-option>
        <ion-option value="5"> X5 </ion-option>
      </ion-select>
    </ion-item> -->
  </ion-list>

</ion-content>

<ion-footer padding style="background:white">
  <ion-item no-lines>
    <ion-label style="color:#6c757d">Cantidad</ion-label>
    <ion-select [(ngModel)]="cantidad" (ionChange)="cantidadX()">
      <ion-option value="1"> X1 </ion-option>
      <ion-option value="2"> X2 </ion-option>
      <ion-option value="3"> X3 </ion-option>
      <ion-option value="4"> X4 </ion-option>
      <ion-option value="5"> X5 </ion-option>
    </ion-select>
  </ion-item>
  <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
    <div style="font-weight:600;color:#333">
      <span style="font-size:18px;padding:5px">Total:</span>
      <span style="font-size:18px;padding:5px">${{total + 1000}}</span>
    </div>
    <button (click)="save()" ion-button mode="ios" color="danger">
      Pedir ahora
    </button>
  </div>
</ion-footer>