<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      joopiter
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <div style="margin-bottom:10px;margin-top:20px;width:100%;text-align:center;color:#515c6f;font-size:24px;font-weight:700">
    Historial de compras
  </div>





  <!-- <ion-list>
    <div *ngFor="let data of nocturno">

      <div style="width:100%;display:flex;justify-content:flex-start;align-items:center">
        <div style="margin-left:15px;min-height:80px;width:80px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + data.compra.tienda.logo + ')' }">
        </div>

        <div style="margin-left:10px">
          <div style="color:#555;font-weight:500;font-size:18px">
            {{data.compra.tienda.nombre}}
          </div>
          <div style="color:#555;font-size:18px">
            SubTotal
          </div>
          <div style="color:#555;font-size:18px">
            <span style="color:#ff6633">${{data.compra.total}} </span>
          </div>
        </div>

      </div>

      <ion-item *ngFor="let producto of data.compra.productos; let i = index">
        <div item-start style="color:#444;font-size:18px">
          X{{producto?.cantidad}}
        </div>
        <div style="color:#333;font-size:18px">
          {{producto?.producto}}
        </div>
        <div style="color:#555;font-size:16px">
          {{producto?.descripcion}}
        </div>
        <div item-end style="color:#555;font-size:18px">
          {{producto?.tag}}
        </div>
      </ion-item>
    </div>
  </ion-list> -->






  <ion-list>
    <button (click)="openContent(item)" ion-item *ngFor="let item of pedidos; let i = index">
      
      
      <div *ngIf="item.tipo == 'ecommerce'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'ecommerce'">
        <div style="margin:2px;font-weight:400;color:#444;font-weight:600;font-size:16px">
          {{item.titulo}}
        </div>
        <div style="margin:2px;color:#555">
          {{item.descripcion}}
        </div>
        <div style="font-weight:450;margin:2px;color:#ff6633;font-size:16px;margin-top:10px;margin-bottom:10px">
          ${{item.total}}
        </div>
      </div>
      <ion-icon *ngIf="item.tipo == 'ecommerce'" item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>


      <div *ngIf="item.tipo == 'comida'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'comida'">
        <div style="margin:2px;font-weight:400;color:#444;font-weight:600;font-size:16px">
          {{item.titulo}}
        </div>
        <div style="margin:2px;color:#555">
          {{item.descripcion}}
        </div>
        <div style="font-weight:450;margin:2px;color:#ff6633;font-size:16px;margin-top:10px;margin-bottom:10px">
          ${{item.total}}
        </div>
      </div>
      <ion-icon *ngIf="item.tipo == 'comida'" item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>


      <div *ngIf="item.tipo == 'once'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'once'">
        <div style="margin:2px;font-weight:400;color:#444;font-weight:600;font-size:16px">
          {{item.titulo}}
        </div>
        <div style="margin:2px;color:#555">
          {{item.descripcion}}
        </div>
        <div style="font-weight:450;margin:2px;color:#ff6633;font-size:16px;margin-top:10px;margin-bottom:10px">
          ${{item.total}}
        </div>
      </div>
      <ion-icon *ngIf="item.tipo == 'once'" item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>


      <!-- <div *ngIf="item.tipo == 'fruta'" (click)="openContent(item.compra)" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.compra.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'fruta'">
        <div style="margin:2px;font-weight:400;color:#444;font-weight:600;font-size:16px">
          {{item.compra.vendedorNombre}}
        </div>
        <div style="margin:2px;color:#555">
          Orden de frutas y verduras
        </div>
        <div style="font-weight:450;margin:2px;color:#ff6633;font-size:16px;margin-top:10px;margin-bottom:10px">
          ${{item.precio}}
        </div>
      </div> -->
    </button>
  </ion-list>




</ion-content>