<ion-header no-border>
  <ion-navbar color="white" align-title="center">
  </ion-navbar>
</ion-header>


<ion-content>

  <div item-start style="width:100%;min-height:250px; background-size:cover;background-repeat: no-repeat;background-position: center;"
    [ngStyle]="{'background-image': 'url(' + data.img + ')' }">
  </div>
  <div style="height:30px"></div>

  <div padding>
    <div style="font-size:16px;color:#333;font-weight:600">
      {{data.titulo}}
    </div>
    <div style="margin-top:5px;font-size:16px;color:#555">
      {{data.descripcion}}
    </div>
  </div>

  <div padding>
    <div *ngIf="data?.variedad" style="margin-top:10px;font-size:16px;color:#777;font-weight:400">
      VARIEDAD ........ {{data.variedad}}
    </div>
    <div *ngIf="data?.tamano" style="margin-top:10px;font-size:16px;color:#777;font-weight:400">
      TAMAÑO .......... {{data.tamano}}
    </div>
    <div style="margin-top:10px;font-size:16px;color:#777;font-weight:400">
      CANTIDAD ........ {{data.cantidad}}
    </div>
    <div style="margin-top:10px;font-size:16px;color:#777;font-weight:400">
      TOTAL ........... ${{data.total}}
    </div>
  </div>

  <ion-list no-lines style="margin-bottom:50px">
    <ion-item>
      <div style="font-size:16px;color:dodgerblue">
        Comprador
      </div>
      <div>
        {{data?.clienteNombre}}
      </div>
      <div>
        {{data?.clienteDireccion}}
      </div>
      <div>
        {{data?.clienteTelefono}}
      </div>
    </ion-item>
    <ion-item>
      <div style="font-size:16px;color:dodgerblue">
        Vendedor
      </div>
      <div>
        {{data?.vendedorNombre}}
      </div>
      <div>
        {{data?.vendedorDireccion}}
      </div>
      <div>
        {{data?.vendedorTelefono}}
      </div>
    </ion-item>
  </ion-list>

</ion-content>