<ion-header>

  <ion-navbar color="white">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close" style="font-size:25px"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Calendario</ion-title> -->
    <ion-buttons right>
      <button ion-button icon-only mode="ios">
        <ion-icon name="ios-settings" style="color:#bbb"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <div style="background:white">
    <!-- <div style="width:100%;display:flex;justify-content:space-between;align-items:center">
        <div style="padding:8px;padding-left:15px;color:#444;font-size:16px;font-weight:600">
          Calendario
        </div>
        <div style="padding:4px;margin-right:15px;color:#ff6633;font-weight:500;font-size:12px">
          VER MÁS
        </div>
      </div> -->
    <div style="padding:3px;padding-left:20px;display:flex;align-items:center">
     
      <div style="border-radius:3px;height:20px;width:20px;background:white;border:1px solid #bbb;margin-right:5px"></div>
      <div style="color:#777">
        Disponible
      </div>

      <div style="margin-left:10px;border-radius:3px;height:20px;width:20px;background:whitesmoke;margin-right:5px"></div>
      <div style="color:#777">
        Bloqueado
      </div>

      <div style="margin-left:10px;border-radius:3px;height:20px;width:20px;background:gold;margin-right:5px"></div>
      <div style="color:#777">
        Hora agregada
      </div>
    </div>
    <ion-scroll scrollX="true" style="display:flex;height:70px;margin-left:10px">
      <ion-grid>
        <ion-row nowrap>
          <ion-col *ngFor="let item of _semana.semana;let i = index" col-3>
            <div (click)="_semana.addDia(i)" [ngStyle]="{'background': item.isActive ? 'darkorange' : 'white'}"
              style="width:100%;height:50px;display:flex;align-items:center;justify-content:center">
              <div [ngStyle]="{'color': item.isActive ? 'white' : '#777'}" style="font-size:20px;">
                {{item.dia}}
                <div style="font-size:16px;width:100%;text-align:center">
                  {{item.num}}
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll>
  </div>

</ion-header>






<ion-content>


  <div *ngFor="let hora of _semana.horas; let i = index">

    <div (click)="_semana.addHora(i, _semana.esDiaPasado)" style="width:100%;">
      <div style="margin-left:20px">

        <div *ngIf="!_semana.esDiaPasado && i != 0" [ngStyle]="{'background': hora.isActive ? 'gold':'white'}"
          style="height:55px;width:100%;margin-left:45px">
        </div>
        <div *ngIf="_semana.esDiaPasado && i != 0"
          style="background:rgb(250, 250, 250);height:55px;width:100%;margin-left:45px">
        </div>
        <div *ngIf="i == 0" style="background:white;height:55px;width:100%;margin-left:45px">
        </div>

        <div style="width:100%;display:flex;align-items:center;justify-content:flex-start">
          <div style="font-size:14px;color:#555">
            {{hora.text}}
          </div>
          
          <div style="flex:1 1 auto;">
            <div *ngIf="!_semana.esDiaPasado" [ngStyle]="{'background': hora.isActive ? 'gold':'white'}"
              style="margin-left:10px;height:17px;width:100%;border-bottom:2px solid #eee">
            </div>
            <div *ngIf="_semana.esDiaPasado && i != 0"
              style="background:rgb(250, 250, 250);margin-left:10px;height:17px;width:100%;border-bottom:2px solid #eee">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




</ion-content>