<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Algo dulce</ion-title>
    <ion-buttons right>
      <button (click)="presentPopover($event)" ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>

  <!-- <div *ngIf="true" style="margin-left:15px;margin-top:15px;margin-bottom:0px;color:#444;font-size:20px;font-weight:500">
    Lo más popular
  </div>

  <div style="background:white;margin-top:10px">
    <ion-scroll scrollX="true" style="display:flex;height:190px;margin-left:10px">
      <ion-grid>
        <ion-row nowrap>
          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/02.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -30%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $4900 CLP
            </div>
          </ion-col>

          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/03.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -23%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $2300 CLP
            </div>
          </ion-col>

          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/04.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -10%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $3000 CLP
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-scroll>
  </div>



  <div *ngIf="true" style="margin-left:15px;margin-top:0px;margin-bottom:0px;color:#444;font-size:20px;font-weight:500">
    Desayunos sorpresa
  </div>

  <div style="background:white;margin-top:10px">
    <ion-scroll scrollX="true" style="display:flex;height:190px;margin-left:10px">
      <ion-grid>
        <ion-row nowrap>
          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/desa01.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -10%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $4900 CLP
            </div>
          </ion-col>

          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/desa03.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -10%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $2300 CLP
            </div>
          </ion-col>

          <ion-col col-5>
            <div style="position:relative">
              <img src="assets/desa02.jpg" style="width:120px;height:120px;margin-right:15px">
              <div style="position:absolute;top:10px;left:0px;font-weight:500;color:White;background:orangered;padding:5px;font-size:14px">
                -12%
              </div>
            </div>
            <div style="width:100%;text-align:right;font-size:16px;color:#333">
              $3000 CLP
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-scroll>
  </div> -->






  <!-- <div style="margin-left:15px;margin-top:0px;margin-bottom:10px;color:#444;font-size:20px;font-weight:500">
    Desayunos sorpresa
  </div>

  <ion-scroll scrollX="true" style="display:flex;height:190px;margin-left:10px">

    <ion-grid>
      <ion-row nowrap>
        <ion-col col-5 *ngFor="let sorpresa of sorpresas">
          <div (click)="openSorpresa(sorpresa)" style="min-height:120px;width:100%;background-size:cover;background-repeat: no-repeat;background-position: center;"
            [ngStyle]="{'background-image': 'url(' + sorpresa?.galeria[0].url + ')' }">
          </div>
          <div style="overflow:hidden;height:38px;font-size:16px;color:#444">
            {{sorpresa.titulo}}
          </div>
          <div style="width:100%;text-align:right;font-size:16px;color:#555">
            ${{sorpresa.precio}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll> -->




  <div style="margin-left:15px;margin-top:0px;margin-bottom:10px;color:#444;font-size:20px;font-weight:500">
    Todas las categorías
  </div>

  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let once of data" col-6 col-md-4 col-xl-3>
        <div (click)="openOnce(once)" style="border:1px solid #eee;border-radius:0px">
          <div style="border-radius:0px;min-height:150px; background-size:cover;background-repeat: no-repeat;background-position: center;"
            [ngStyle]="{'background-image': 'url(' + once.imgs[0].url + ')' }">
          </div>
          <!-- <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:400"> -->
          <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
            {{once.titulo}}
          </div>
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:flex-end;font-size:15px">
              <!-- <div style="color:#444;font-weight:600;font-size:16px"> -->
              <div style="color:#555;font-size:16px">
                <div *ngIf="once.precio.tipo == 'flat'">
                  ${{once.precio.value}}
                </div>
                <div *ngIf="once.precio.tipo != 'flat'">
                  ${{once.precio.array[0].precio}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hayMas">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>