<ion-header no-border>

  <ion-navbar color="white">

    <div style="display:flex;align-items:center">
      <div *ngIf="data"
        style="border:1px solid #eee;border-radius:10px;min-height:35px;width:35px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + data?.tienda.logo + ')' }">
      </div>
      <div style="margin-left:10px;color:#666;font-weight:550;font-size:15px">
        {{data?.tienda.nombre}}
      </div>
    </div>

  </ion-navbar>

</ion-header>

<div *ngIf="showDesc"
  style="background:rgb(10, 10, 10, 0.4);z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%">
  <div (click)="showDesc = false" style="height:70%;width:100%;">
  </div>
  <div style="padding:15px;background:white;height:30%;overflow:scroll;font-size:14px;color:#777">
    <div style="margin-bottom:10px;display:flex;justify-content:space-between;align-items:center">
      <div style="width:30px">
      </div>
      <div style="text-align:center;font-size:16px;color:#666;font-weight:500">
        Descripción
      </div>
      <div (click)="showDesc = false" style="padding:5px">
        <ion-icon name="close" style="font-size:18px;color:#666;"></ion-icon>
      </div>
    </div>
    {{data?.descripcion}}
  </div>
</div>

<ion-content>

  <div *ngIf="data"
    style="border-radius:0px;min-height:240px;width:100%;background-size:cover;background-repeat: no-repeat;background-position: center;"
    [ngStyle]="{'background-image': 'url(' + data.imgs[0].img + ')' }">
  </div>

  <div padding>
    <!-- <div style="font-size:16px;color:#444;font-weight:600">
        Promocion dos por uno en gatos y servicio de limpieza libre
      </div> -->

    <div style="margin-top:0px;color:#777;font-size:16px">
      <span style="color:orangered;font-weight:600">
        ${{data.precio.oferta}}
      </span>
      <span style="padding:2px;color:white;background:orange;margin-left:5px;font-size:13px">
        -{{data.precio.descuento}}%
      </span>
    </div>
    <div style="margin-top:5px;color:#999;font-size:13px">
      <span>
        Precio normal:
      </span>
      <span>
        ${{data.precio.normal}}
      </span>
    </div>

    <div style="margin-top:5px;font-size:16px;color:#444;font-weight:600">
      {{data.titulo}}
    </div>
    <div style="margin-top:5px;display:flex;justify-content:space-between">
      <div style="font-size:13px;color:#999">
        un texto
      </div>
      <div style="font-size:13px;color:#999">
        {{data.buys}} vendidos
      </div>
    </div>
  </div>

  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>

  <div padding>
    <div style="margin-bottom:10px;font-size:15px;color:#444;">
      Qué incluye
    </div>
    <div *ngFor="let item of data?.incluye"
      style="color:#888;font-size:14px;display:flex;align-items:center;font-weight:350">
      <div style="margin-right:10px;height:5px;width:5px;background:#999;border-radius:50%">
      </div>
      {{item}}
    </div>
  </div>

  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>

  <div padding>
    <div style="margin-bottom:10px;font-size:15px;color:#444;">
      Notas
    </div>
    <div *ngFor="let item of data.notas"
      style="margin-top:7px;color:#888;font-size:14px;display:flex;align-items:center;font-weight:350">
      {{item}}
    </div>
  </div>

  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>

  <button ion-item (click)="showDesc = true" no-lines>
    <ion-icon item-start name="document" style="color:darkorange;font-size:22px"></ion-icon>
    <div style="font-size:15px">
      Descripción
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
  </button>

  <button ion-item (click)="openIntro()" no-lines>
    <ion-icon item-start name="body" style="color:gold;font-size:22px"></ion-icon>
    <div style="font-size:15px">
      Introducción del vendedor
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
  </button>


  <div *ngIf="data?.isReserva">
    <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
    </div>
    <button ion-item (click)="openReservas()" no-lines>
      <div style="margin-top:15px;margin-left:15px;margin-bottom:10px;font-size:15px;color:salmon;">
        ¡Crea una reserva!..
      </div>
      <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
    </button>
  </div>


  <div style="height:10px;width:100%;background:rgb(248, 248, 248)">
  </div>


  <div *ngIf="from != 'tienda-mascotas'" style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div
      style="font-weight:500;font-size:13px;color:white;background:#ff6633;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
      COMPRAR AHORA
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:10px"></ion-icon>
    </div>
  </div>




</ion-content>