<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-title>Mis productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="false" (click)="openInformaciones('promoLanzamiento')" style="padding:15px;padding-top:0px">
    <div style="position:relative;border-radius:7px;background:linear-gradient(to bottom right, gold, orange);;;color:white">
      <div style="border-radius:0px 0px 7px 7px;background:darkorange;margin-left:50px;text-align:center;color:white;font-size:14px;font-weight:500;padding-left:17px;padding-right:17px;display:inline-block">
        Gratuito
      </div>
      <div style="margin:5px;margin-left:7px;margin-top:10px;font-size:16px;font-weight:500">
        PROMOCION DE
        <div style="font-size:28px;font-weight:500">
          lanzamiento
          <ion-icon name="rocket" style="color:white;font-size:30px;margin-left:15px"></ion-icon>
        </div>
      </div>
      <!-- <div style="margin-left:155px;margin-right:15px;border-top:1px solid white"></div> -->
      <div style="font-size:14px;padding:15px;padding-top:0px;padding-bottom:14px">
        Selecciona
        <span style="font-weight:500;font-size:16px">
          {{promocion.limite}} productos
        </span>
        para vender sin costo en la aplicación
      </div>
    </div>
  </div>



  <div style="margin-left:15px;margin-top:0px;margin-bottom:10px;color:#444;font-size:20px;font-weight:500">
    Listado de productos
  </div>

  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let item of data" col-6 col-md-4 col-xl-3>
        <div style="border:1px solid #eee;border-radius:0px">
          <div style="position:relative">
            <div style="border-radius:0px;min-height:150px; background-size:cover;background-repeat: no-repeat;background-position: center;"
              [ngStyle]="{'background-image': 'url(' + item.imgs[0].url + ')' }">
            </div>
            <div *ngIf="item.isPromoLanzamiento" style="position:absolute;top:15px;right:0px;background:#333;color:White;font-size:14px;font-weight:600;padding:4px">
              Promo Lanzami...
            </div>
            <div *ngIf="!item.isActive" style="position:absolute;top:45px;right:0px;background:#333;color:White;font-size:14px;font-weight:600;padding:4px">
              Desactivado
            </div>
          </div>
          <!-- <div style="padding:5px;width:100%;font-size:16px;color:#444;font-weight:600">
                  {{item.titulo}}
                </div> -->
          <div style="border-top:0.5px dashed #eee;padding:5px;">
            <div style="width:100%;display:flex;align-items:flex-end;justify-content:space-between;font-size:15px">
              <div style="color:#555;font-size:16px">
                <div *ngIf="item.precio.tipo == 'flat'">
                  ${{item.precio.value}}
                </div>
                <div *ngIf="item.precio.tipo != 'flat'">
                  ${{item.precio.array[0].precio}}
                </div>
              </div>
              <ion-icon (click)="presentPopover($event, item._id, item.isActive)" name="more" style="font-size:24px;color:#777"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>