<ion-header no-border>
  <ion-navbar color="orange" align-title="center">
    <ion-title> Registrar </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background:orangered">
  <div>
    <div style="padding-top:50px;height:100px;width:100%;color:white">

      <div style="width:100%;text-align:center;font-size:26px;font-weight:400">
        Crea tu perfil
      </div>
    </div>
    <div style="margin-left:20px;margin-bottom:10px;width:100%;text-align:left;font-size:15px;color:#eee">
      Nombre de perfil
    </div>
    <ion-item style="background:orangered;color:white;font-size:18px">
      <ion-input [(ngModel)]="name" type="text" placeholder="Ej. Daniel Esteban"></ion-input>
    </ion-item>

    <div padding style="width:100%;display:flex;justify-content:flex-end">
      <ion-icon *ngIf="name.length<=6" name="ios-arrow-dropright-circle" style="font-size:45px;color:#bbb"></ion-icon>
      <ion-icon *ngIf="name.length>6" (click)="signUp()" name="ios-arrow-dropright-circle" style="font-size:45px;color:#fff"></ion-icon>
    </div>

  </div>

</ion-content>