page-post-pedidos {
  .start {
    padding: 5px;
    padding-left: 0px;
    width: 50px;
    color: #777;
    font-weight: 600;
  }
  .imgButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .imgBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .img {
    margin: 10px;
    height: 70px;
    width: 70px;
    object-fit: cover;
  }
}
