<ion-header no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> {{ titulo | placeHolder: "Pedidos" }} </ion-title>
    <ion-buttons right>
      <button mode="ios" outline (click)="save()" ion-button small>
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="imagePreview" class="imgBox">
    <img [src]="imagePreview" class="img" />
  </div>
  <div class="imgButton">
    <button ion-button outline small (click)="addImg()">Subir Imágenes</button>
  </div>

  <ion-list style="margin-top:10px">
    <ion-item>
      <div item-start><div class="start">Título</div></div>

      <ion-input
        [(ngModel)]="titulo"
        type="text"
        placeholder="Escribir"
      ></ion-input>
    </ion-item>
    <ion-item>
      <div item-start><div class="start">$</div></div>
      <ion-input
        [(ngModel)]="precio"
        type="number"
        placeholder="Precio"
      ></ion-input>
    </ion-item>
    <ion-item style="margin-bottom:15px">
      <ion-label style="color:#6c757d">Categoria</ion-label>
      <ion-select [(ngModel)]="categoria">
        <ion-option value="Sushi & handrolls">Sushi & handrolls</ion-option>
        <ion-option value="Completos">Completos</ion-option>
        <ion-option value="Pichangas">Pichangas</ion-option>
        <ion-option value="Pizzas">Pizzas</ion-option>
        <ion-option value="Sandwich">Sandwich</ion-option>
        <ion-option value="Papas bravas">Papas bravas</ion-option>
        <ion-option value="Peruana">Peruana</ion-option>
        <ion-option value="Vegetariano">Vegetariano</ion-option>
        <ion-option value="Tablas">Tablas</ion-option>
        <ion-option value="Comida rápida">Comida rápida</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let list of lists; let k = index">
    <ion-item>
      <ion-input
        [(ngModel)]="list.title"
        type="text"
        placeholder="Título de la lista"
      ></ion-input>
      <button (click)="deleteList(k)" item-end clear ion-button icon-only>
        <ion-icon name="md-trash" style="color:#777;font-size:25px"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngFor="let item of list.items; let i = index">
      <ion-radio
        *ngIf="list.type == 'A'"
        item-start
        checked="false"
        value="go"
      ></ion-radio>
      <ion-checkbox
        *ngIf="list.type == 'B'"
        class="checkbox-square"
        checked="false"
        >value 1</ion-checkbox
      >
      <ion-input
        [(ngModel)]="item[i]"
        type="text"
        placeholder="Escribir"
      ></ion-input>
    </ion-item>
    <button
      (click)="addItem('combo', k, list.items.length)"
      ion-item
      block
      outline
      color="white"
      style="text-transform: none"
    >
      <div style="text-align:right;font-size:16px;font-weight:600;color:#777">
        + Añadir Otro Item
      </div>
    </button>
  </ion-list>

  <div
    (click)="presentPopover($event)"
    style="margin-top:0px;padding:4px;background:dodgerblue;width:100%;text-align:center;color:white;font-weight:600;font-size:16px"
  >
    + Agrear Menu de Opciones
    <ion-icon
      name="md-arrow-dropdown"
      style="color:white;margin-left:5px"
    ></ion-icon>
  </div>
</ion-content>
