<!-- <ion-header>
  <ion-navbar align-title="center" color="pink">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Pantalones azules
    </ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content>
  <div style="font-size:20px;position:fixed;top:0px;left:0px;z-index:9999;color:white;width:100%;height:50px;display:flex;justify-content:space-around;align-items:center">
    <div (click)="back()" style="margin-left:0px;display:flex;align-items:center">
      <ion-icon name="arrow-back"></ion-icon>
      <div style="font-size:14px;margin-left:5px">
        ATRAS
      </div>
    </div>
    <div>
      {{product.title}}
    </div>
    <div>
    </div>
  </div>

  <ion-slides pager style="height:350px;margin-top:0px">

    <ion-slide>
      <div style="box-shadow: inset 0px 60px 20px rgba(100,100,100,0.1);height:350px;width:100%">
        <!-- <img [src]="product.imgs[0]" style="position:relative;z-index:-2;height:350px;width:100%;object-fit:cover"> -->
        <img [src]="product.imgs[0]" style="position:relative;z-index:-2">

      </div>
    </ion-slide>

    <ion-slide>
      <div style="box-shadow: inset 0px 60px 20px rgba(204, 204, 204,0.2);height:350px;width:100%">
        <img src="assets/18.jpg" style="position:relative;z-index:-2;height:350px;width:100%;object-fit:cover">
      </div>
    </ion-slide>

    <ion-slide>
      <div style="box-shadow: inset 0px 60px 20px rgba(100,100,100,0.1);height:350px;width:100%">
        <img src="assets/03.jpg" style="position:relative;z-index:-2;height:350px;width:100%;object-fit:cover">
      </div>
    </ion-slide>

  </ion-slides>
  <!-- <div style="width:100%;height:40px;background:#f55880;color:white;font-size:20px;display:flex;justify-content:space-around;align-items:center">
    <div>
      $5000
    </div>
    <div>
      Comprar
    </div>
  </div> -->
  <div padding>



    <div style="color:#222;font-size:20px;font-weight:600;margin-bottom:20px">
      {{product.title}}
    </div>


    <div style="font-size:15px;color:#222">
      {{product.description}}
    </div>

    <div style="margin-bottom:10px;margin-top:20px;display:flex;justify-content:center;align-content:flex-end;width:100%">
      <div style="color:#222;font-size:22px;margin-right:10px">
        $ {{product.price}}
      </div>
      <!-- <del style="font-size:16px">7000</del> -->
    </div>
    <div style="width:100%;display:flex;justify-content:center">
      <button ion-button outline color="dark" (click)="t=true">Comprar ahora</button>
    </div>
  </div>

  <div *ngIf="t" style="z-index:999;position:fixed;top:0px;left:0px;background:rgba(0, 0, 0, 0.2);height:100vh;width:100vw">
    <div (click)="t=false" style="width:100%;height:100%">
    </div>
    <div style="font-size:16px;color:#444;position:absolute;width:100%;bottom:0px;left:0px;background:white;">
      <div *ngIf="uno && dos && tres" style="border-bottom:1px solid #ccc;padding:15px;text-align:center;font-weight:600">
        Seleccionar Talla
      </div>
      <div *ngIf="uno && dos && tres" (click)="uno=false" style="padding:15px;text-align:center">
        38
      </div>
      <div *ngIf="uno && dos && tres" (click)="dos=false" style="padding:15px;text-align:center">
        40
      </div>
      <div *ngIf="uno && dos && tres" (click)="tres=false" style="padding:15px;text-align:center">
        L
      </div>
      <div *ngIf="!uno">
        <div style="border-bottom:1px solid #ccc;padding:15px;font-weight:600;display:flex;justify-content:space-around">
          <ion-icon (click)="uno=true" name="md-arrow-round-back"></ion-icon>
          <div>
            Seleccionar Color
          </div>
          <div>
          </div>
        </div>
        <div *ngFor="let item of arr38" style="padding:15px;text-align:center">
          {{item}}
        </div>
      </div>
      <div *ngIf="!dos">
        <div style="border-bottom:1px solid #ccc;padding:15px;font-weight:600;display:flex;justify-content:space-around">
          <ion-icon (click)="dos=true" name="md-arrow-round-back"></ion-icon>
          <div>
            Seleccionar Color
          </div>
          <div>
          </div>
        </div>
        <div *ngFor="let item of arr40" style="padding:15px;text-align:center">
          {{item}}
        </div>
      </div>
      <div *ngIf="!tres">
        <div style="border-bottom:1px solid #ccc;padding:15px;font-weight:600;display:flex;justify-content:space-around">
          <ion-icon (click)="tres=true" name="md-arrow-round-back"></ion-icon>
          <div>
            Seleccionar Color
          </div>
          <div>
          </div>
        </div>
        <div *ngFor="let item of arrL" style="padding:15px;text-align:center">
          {{item}}
        </div>
      </div>
    </div>
  </div>





</ion-content>