<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>Nuevo producto</ion-title>
    <ion-buttons right>
      <button (click)="save()" ion-button [disabled]="!(imagenes.length>0 && categoria?.length>0 && titulo?.length>0 && descripcion?.length>0 && valorProducto)"
        outline mode="ios">
        Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <hr>
  <div padding style="width:100%;display:flex;justify-content:center;flex-wrap:wrap">
    <div (click)="presentActionSheet()" style="margin:10px;width:80px;height:80px;border:1px dashed #eee;display:flex;justify-content:center;align-items:center">
      <ion-icon name="md-camera" style="font-size:32px;color:#999"></ion-icon>
    </div>
    <div *ngFor="let imagen of imagenes">
      <div style="margin:10px;min-height:80px;width:80px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + imagen.url + ')' }">
      </div>
    </div>
  </div>


  <ion-item no-lines>
    <ion-input [(ngModel)]="titulo" type="text" placeholder="Título" style="border:1px solid #eee;border-radius:3px"></ion-input>
  </ion-item>
  <div style="height:20px;width:10px">
  </div>
  <ion-item no-lines>
    <ion-textarea style="border:0px solid #bbb" rows="3" [(ngModel)]="descripcion" placeholder="Descripción" style="border:1px solid #eee;border-radius:5px"></ion-textarea>
  </ion-item>
  <div style="height:20px;width:10px">
  </div>


  <ion-item no-lines style="color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    General
  </ion-item>
  <button ion-item no-lines (click)="openSelect('categoria')">
    <ion-label>
      Categoría
      <div style="color:green">
        {{categoria}}
      </div>
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
    <ion-select [(ngModel)]="categoria" style="display:none" #categoriaRef>
      <ion-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</ion-option>
    </ion-select>
  </button>

  <button ion-item no-lines (click)="openSelect('tiempoDeEntrega')">
    <div style="color:#999">
      Disponibilidad
    </div>
    <div style="color:green">
      {{tiempoDeEntrega}}
    </div>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
  </button>

  <ion-item style="display:none">
    <ion-label>Seleccionar</ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
    <ion-select [(ngModel)]="tiempoDeEntrega" style="display:none" #tiempoDeEntregaRef>
      <ion-option *ngFor="let dia of dias" [value]="dia.select">{{dia.tag}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item no-lines style="color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    Detalles
  </ion-item>

  <div style="padding:10px;width:100%;display:flex;justify-content:space-between">
    <div style="width:35%;">
      <div style="border-radius:3px;border:1px solid #eee;display:flex">
        <ion-input [(ngModel)]="faceta" type="text" placeholder="Ej. Material" style="font-size:15px;border:0x solid white"></ion-input>
      </div>
    </div>
    <div style="height:20px;width:20px">
    </div>
    <div style="width:60%;">
      <div style="border-radius:3px;border:1px solid #eee;display:flex">
        <ion-input [(ngModel)]="desc" type="text" placeholder="Ej. Algodón" style="font-size:15px;border:0x solid white"></ion-input>
      </div>
      <div (click)="agregarDetalle()" style="margin-top:15px;margin-bottom:10px;width:100%;display:flex;justify-content:flex-end">
        <div style="padding:10px;width:100px;border-radius:5px;background:#eee;color:#666;text-align:center">
          Agregar
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="detalles.length > 0" padding style="margin-bottom:40px">
    <div style="margin-top:10px;font-size:18px;font-weight:500;color:#333">
      Detalles del artículo
    </div>
    <hr>
    <div style="font-size:17px;color:green">
      <div *ngFor="let detalle of detalles" style="display:flex;align-items:center">
        <div style="margin-right:10px;height:8px;width:8px;background:green;border-radius:50%">
        </div>
        {{detalle}}
      </div>
    </div>
  </div>

  <!-- <hr> -->

  <div style="margin-left:25px;color:#666">
    Ejemplo:
  </div>
  <div style="margin-left:35px;font-size:15px;color:#999">
    <div style="display:flex;align-items:center">
      <div style="margin-right:10px;height:5px;width:5px;background:#999;border-radius:50%">
      </div>
      Material: Algodón
    </div>
    <div style="display:flex;align-items:center">
      <div style="margin-right:10px;height:5px;width:5px;background:#999;border-radius:50%">
      </div>
      Ocación: San Valentín
    </div>
    <div style="display:flex;align-items:center">
      <div style="margin-right:10px;height:5px;width:5px;background:#999;border-radius:50%">
      </div>
      Estilo: Hippy
    </div>
    <div style="display:flex;align-items:center">
      <div style="margin-right:10px;height:5px;width:5px;background:#999;border-radius:50%">
      </div>
      Longitud de la pulsera: 25 cm
    </div>
  </div>

  <div style="height:20px;width:10px">
  </div>


  <ion-item no-lines style="margin-top:10px;color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    <ion-label>Variaciones</ion-label>
    <ion-toggle [(ngModel)]="isVariacion" mode="ios"></ion-toggle>
  </ion-item>

  <button *ngIf="isVariacion && addFirst" ion-item no-lines (click)="openSelect('variacion')">
    <ion-label>
      Agregar una variación
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
    <ion-select (ionChange)="onVaracionChange($event)" [(ngModel)]="variacion" style="display:none" #variacionRef>
      <ion-option value="Color">Color</ion-option>
      <ion-option value="Sabor">Sabor</ion-option>
      <ion-option value="Talla">Talla</ion-option>
      <ion-option value="Material">Material</ion-option>
    </ion-select>
  </button>

  <div *ngIf="isVariacion">

    <div *ngFor="let variacion of variaciones; let i = index">

      <div style="margin-top:10px;color:dodgerblue;margin-left:15px">
        {{variacion.tipo | uppercase }}
        <ion-icon (click)="remove(j, 'variacion')" name="trash" style="color:#bbb;font-size:24px;margin-left:15px"></ion-icon>
      </div>

      <div *ngIf="variacion.array.length > 0">
        <div *ngFor="let item of variacion.array;let j = index">
          <div style="display:flex;justify-content:space-between">
            <div style="margin-left:15px;padding:3px;font-size:18px;color:green">
              &#9679; {{item}}
            </div>
          </div>
        </div>
      </div>

      <div style="padding:10px;width:100%;display:flex;justify-content:center">
        <div style="border-radius:3px;width:80%;border:1px solid #eee;display:flex">
          <ion-input [(ngModel)]="variacion.auxiliar" type="text" [placeholder]="EjVariacion" style="font-size:16px;border:0x solid white"></ion-input>
          <button (click)="addVariacion(i, variacion.auxiliar)" ion-button icon-only clear>
            <ion-icon name="md-add-circle" style="color:#ccc;font-size:28px"></ion-icon>
          </button>
        </div>
      </div>

    </div>
  </div>

  <button *ngIf="isVariacion && addMore" ion-item no-lines (click)="openSelect('variacion')">
    <ion-label>
      Agregar otra variación
    </ion-label>
    <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:18px"></ion-icon>
    <ion-select (ionChange)="onVaracionChange($event)" [(ngModel)]="variacion" style="display:none" #variacionRef>
      <ion-option value="Color">Color</ion-option>
      <ion-option value="Sabor">Sabor</ion-option>
      <ion-option value="Talla">Talla</ion-option>
      <ion-option value="Material">Material</ion-option>
    </ion-select>
  </button>


  <ion-item no-lines style="margin-top:10px;color:#999;background:rgb(243, 243, 243);font-size:16px;font-weight:500">
    Precio
  </ion-item>

  <div style="margin-top:10px;margin-left:15px;font-size:13px;color:#666;font-weight:400">
    VALOR DEL PRODUCTO
  </div>
  <div style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:40%;border:1px solid #eee;display:flex;align-items:center">
      <div style="font-size:16px;font-weight:500;color:#999;padding:5px;border-right:1px solid #eee">
        $
      </div>
      <ion-input [(ngModel)]="valorProducto" type="tel" placeholder="" style="font-size:16px;border:0x solid white"></ion-input>
    </div>
  </div>

  <!-- <div style="margin-top:10px;margin-left:15px;font-size:13px;color:#666;font-weight:400">
    COSTO DE ENVÍO
  </div> -->

  <!-- <ion-list no-lines>
    <button (click)="isEnvio = !isEnvio" ion-item>
      <ion-icon item-start *ngIf="isEnvio" name="checkbox" style="color:green;font-size:22px"></ion-icon>
      <ion-icon item-start *ngIf="!isEnvio" name="ios-square-outline" style="color:#eee;font-size:22px"></ion-icon>
      <div style="font-size:16px;color:#666">
        Envio gratis
      </div>
    </button>
  </ion-list> -->


  <!-- <div style="padding:10px;width:100%;display:flex;justify-content:center">
    <div style="border-radius:3px;width:40%;border:1px solid #eee;display:flex;align-items:center">
      <div style="font-size:16px;font-weight:500;color:#999;padding:5px;border-right:1px solid #eee">
        $
      </div>
      <ion-input [(ngModel)]="costoEnvio" type="tel" placeholder="" style="font-size:16px;border:0x solid white"></ion-input>
    </div>
  </div> -->

  <div style="height:30px"></div>

</ion-content>