<ion-header *ngIf="!comenzoElFormulario" no-border>
  <ion-navbar color="orange3">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close" style="font-size:25px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-header *ngIf="comenzoElFormulario" no-border>
  <ion-navbar color="white" align-title="center">
    <ion-buttons left>
      <button ion-button (click)="changeStep('back')">
        <ion-icon name="md-arrow-round-back" style="font-size:25px"></ion-icon>
        <div style="margin-left:10px">
          Atras
        </div>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <div style="font-size:18px;font-weight:400;color:#444">
          {{step}}
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #pageTop [ngStyle]="{'background': !comenzoElFormulario ? '#ff6633' : '#fff'}">

  <div *ngIf="!comenzoElFormulario" padding>
    <div style="margin-top:25%;font-size:32px;font-weight:600;color:#fff;width:100%;text-align:center">
      ¡Hola! Antes de continuar
    </div>
    <div style="margin-top:30px;width:100%;text-align:center;font-size:15px;color:#fff;">
      Necesitamos obtener algunos datos de su negocio para facilitarlos de manera pública a los usuarios
    </div>
    <div style="margin-top:20px;width:100%;display:flex;justify-content:center">
      <div>
        <img [src]="'https://res.cloudinary.com/ddon9fx1n/image/upload/v1551211039/icon512.png'"
          style="width:70px;height:70px">
        <div style="color:#fff;font-size:25px;width:100%;text-align:center">
          joopiter
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="comenzoElFormulario">

    <div *ngIf="steps[0].isActive">

      <div style="padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        ¿Nombre de su negocio?
      </div>
      <ion-item>
        <ion-input [(ngModel)]="nombre" type="text" placeholder="Tu respuesta"></ion-input>
      </ion-item>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        Teléfono de contacto:
      </div>
      <ion-item>
        <ion-input [(ngModel)]="telefono" type="tel" placeholder="Tu respuesta"></ion-input>
      </ion-item>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        Dirección de su negocio:
      </div>
      <ion-item>
        <ion-input [(ngModel)]="direccion" type="text" placeholder="Tu respuesta"></ion-input>
      </ion-item>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        Sube una imagen o logo de tu negocio
      </div>
      <div padding style="width:100%;display:flex;justify-content:center;flex-wrap:wrap">
        <div (click)="presentActionSheet()"
          style="margin:10px;width:80px;height:80px;border:1px dashed #eee;display:flex;justify-content:center;align-items:center">
          <ion-icon name="md-camera" style="font-size:32px;color:#999"></ion-icon>
        </div>
        <div *ngFor="let imagen of imagenes">
          <div
            style="margin:10px;min-height:80px;width:80px;background-size:cover;background-repeat: no-repeat;background-position: center;"
            [ngStyle]="{'background-image': 'url(' + imagen.url + ')' }">
          </div>
        </div>
      </div>

    </div>


    <div *ngIf="steps[1].isActive">

      <div style="margin-top:0px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        ¿Es posible pagar con tarjetas de débito o crédito en su local?
      </div>
      <button (click)="isTarjeta = true" ion-item no-lines>
        <ion-icon *ngIf="!isTarjeta" item-start name="radio-button-off" style="font-size:22px;color:#bbb"></ion-icon>
        <ion-icon *ngIf="isTarjeta" item-start name="radio-button-on" style="font-size:22px;color:darkorange">
        </ion-icon>
        <div style="font-size:15px">
          Sí
        </div>
      </button>
      <button (click)="isTarjeta = false" ion-item no-lines>
        <ion-icon *ngIf="isTarjeta" item-start name="radio-button-off" style="font-size:22px;color:#bbb"></ion-icon>
        <ion-icon *ngIf="!isTarjeta" item-start name="radio-button-on" style="font-size:22px;color:darkorange">
        </ion-icon>
        <div style="font-size:15px">
          No
        </div>
      </button>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        Seleccione los servicios que ofrece a sus clientes
      </div>

      <button no-lines text-wrap *ngFor="let servicio of servicios; let i = index" (click)="addService(i)" ion-item>
        <ion-icon *ngIf="!servicio.isActive" item-start name="square-outline" style="font-size:22px;color:#bbb">
        </ion-icon>
        <ion-icon *ngIf="servicio.isActive" item-start name="checkbox" style="font-size:22px;color:darkorange">
        </ion-icon>
        <div style="font-size:15px;color:#444">
          {{servicio.nombre}}
        </div>
      </button>
      <ion-item>
        <div item-start style="display:flex;align-items:center">
          <ion-icon name="square-outline" style="font-size:22px;color:#bbb"></ion-icon>
          <div style="font-size:15px;color:#888;margin-left:10px">Otro:</div>
        </div>
        <ion-input [(ngModel)]="otroServicio" type="text" placeholder=""></ion-input>
      </ion-item>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        Selecciona 1 o 2 categorias principales:
      </div>

      <div *ngFor="let seccion of secciones; let i = index" style="width:100%">

        <!-- <div style="font-size:14px;color:#777;width:100%;text-align:center;margin-top:15px">
          Sección {{seccion.seccion}}
        </div> -->

        <div style="width:100%;display:flex;align-items:center;justify-content:center;flex-wrap:wrap">

          <div *ngFor="let categoria of seccion.categorias; let j = index" (click)="agregarCategoria(i,j)"
            [ngClass]="{'selected': categoria.isActive, 'not-selected': !categoria.isActive}"
            style="margin:10px;padding:5px;padding-left:10px;padding-right:10px;border-radius:15px;font-size:15px;">
            {{categoria.nombre}}
          </div>
        </div>
      </div>

      <div padding>
        <div style="color:#444;font-size:15px">
          {{nombreCat}}
        </div>
        <div style="color:#999;font-size:15px">
          {{descCat}}
        </div>
      </div>

      <div style="margin-top:20px;padding:8px;padding-left:15px;color:#444;font-size:18px;font-weight:500">
        ¿Qué hace tu tienda? <span style="font-weight:400;color:#555">(Breve descripción)</span>
      </div>

      <div padding>
        <div *ngIf="descripcion" style="color:#444;font-size:15px">
          Descripción:
        </div>
        <div style="color:lightcoral;font-size:15px">
          {{descripcion}}
        </div>
      </div>

      <ion-item>
        <ion-input [(ngModel)]="descInput" type="text" placeholder="Tu respuesta" (ionChange)="detectarLongitud()">
        </ion-input>
      </ion-item>
      <div style="padding-top:5px;padding-right:15px;width:100%;text-align:right;color:#999">
        {{descLength}}/55
      </div>

    </div>


    <div *ngIf="steps[2].isActive">

      <formulario-horario></formulario-horario>


    </div>


  </div>



  <div style="height:100px">
  </div>

</ion-content>

<div *ngIf="!comenzoElFormulario">
  <ion-footer padding style="background:#ff6633">
    <button (click)="comenzoElFormulario = true" color="light" ion-button block mode="ios">
      Aceptar
    </button>
  </ion-footer>
</div>

<div *ngIf="comenzoElFormulario">
  <ion-footer padding style="background:#fff">
    <button (click)="next()" color="light" ion-button block mode="ios">
      Continuar
    </button>
  </ion-footer>
</div>