page-formulario-start {

    .selected {
        background: salmon;
        color: white;
        font-weight: 500;
    }

    .not-selected {
        border: 1px solid #eee;
        color:#444;
    }
    

}
