<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-buttons left>
      <button ion-button icon-only (click)="close('x')">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Datos del pedido </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngIf="tipo == 'telefono'">
      <ion-input [(ngModel)]="telefono" type="tel" placeholder="TU TELÉFONO"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipo == 'direccion'">
      <ion-input [(ngModel)]="direccion" type="text" placeholder="TU DIRECCIÓN"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-textarea placeholder="Deja un mensaje al delivery" rows="3" [(ngModel)]="mensaje"></ion-textarea>
    </ion-item> -->
  </ion-list>

  <div *ngIf="tipo == 'telefono'" style="width:100%;display:flex;justify-content:center">
    <button [disabled]="!telefono" (click)="close('telefono')" ion-button color="secondary" mode="ios">
      Agregar
    </button>
  </div>

  <div *ngIf="tipo == 'direccion'" style="width:100%;display:flex;justify-content:center">
    <button [disabled]="!direccion.length>0" (click)="close('direccion')" ion-button color="secondary" mode="ios">
      Agregar
    </button>
  </div>

</ion-content>