<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Delivery Nocturno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="margin-left:20px;margin-bottom:10px;font-size:20px;font-weight:500;color:#515c6f">
    {{tiendas.length}} Locales
  </div>
  <hr>

  <ion-list text-wrap>
    <button *ngFor="let item of tiendas" ion-item (click)="openContent(item.tienda.isOpen, item)">
      <div item-start style="min-height:100px;width:100px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + item.tienda.logo + ')' }">
      </div>
      <div style="color:#222;font-weight:500;font-size:20px">
        {{item.tienda.nombre}}
      </div>
      <div *ngIf="item.tienda.isOpen" style="margin-top:10px;color:#555;font-size:16px">
        Abierto
      </div>
      <div *ngIf="!item.tienda.isOpen" style="margin-top:10px;color:#555;font-size:16px">
        Cerrado
      </div>
      <div style="color:#555;font-size:16px">
        {{item.tienda.delivery}}
      </div>
    </button>
  </ion-list>

</ion-content>