<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Delivery Nocturno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="margin-left:20px;margin-bottom:10px;font-size:20px;font-weight:500;color:#515c6f">
    <!-- {{tiendas.length}} -->
    3 Locales
  </div>
  <hr>

  <ion-list text-wrap>
    <button *ngFor="let item of tiendas" ion-item (click)="openContent(item.tienda.isOpen, item)">
      <div item-start style="min-height:90px;width:90px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
        [ngStyle]="{'background-image': 'url(' + item.tienda.logo + ')' }">
      </div>
      <div style="color:#444;font-weight:600;font-size:18px">
        {{item.tienda.nombre}}
      </div>
      <div *ngIf="item.tienda.isOpen" style="margin-top:10px;color:#555;font-size:16px">
        Abierto
      </div>
      <div *ngIf="!item.tienda.isOpen" style="margin-top:10px;color:#555;font-size:16px">
        Cerrado
      </div>
      <div style="color:#555;font-size:16px">
        <!-- {{item.tienda.delivery}} -->
        Envío $1000
      </div>
    </button>

    <!-- <button ion-item>
      <img item-start src="assets/r03.jpg" style="height:90px;width:90px;object-fit:cover;border-radius:5px">
      <div style="color:#444;font-weight:600;font-size:18px">
        Restaurante de valdivia
      </div>
      <div style="margin-top:10px;color:#555;font-size:16px">
        Abierto
      </div>
      <div style="color:#555;font-size:16px">
        Envío $1000
      </div>
    </button>

    <button ion-item>
      <img item-start src="assets/r02.jpg" style="height:90px;width:90px;object-fit:cover;border-radius:5px">
      <div style="color:#444;font-weight:600;font-size:18px">
        Pizzería en valdivia
      </div>
      <div style="margin-top:10px;color:#555;font-size:16px">
        Abierto
      </div>
      <div style="color:#555;font-size:16px">
        Envío $1000
      </div>
    </button> -->
  </ion-list>

</ion-content>