<ion-header no-border>
  <ion-navbar align-title="center" color="white">
    <ion-title>
      joopiter
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <div style="margin-bottom:10px;margin-top:20px;width:100%;text-align:center;color:#515c6f;font-size:24px;font-weight:700">
    MIS PEDIDOS
  </div>

  <div *ngFor="let item of _carro.carro; let i = index">

    <ion-item>
      <!-- (click)="openContent(item.compra)" -->
      <div *ngIf="item.tipo == 'once'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'once'">
        <div style="margin:0px;color:#444;font-weight:500;font-size:17px">
          {{item.titulo}}
        </div>
        <div style="font-size:15px;margin:0px;color:#ff6633;margin-top:5px;margin-bottom:10px">
          ${{item.total}}
        </div>
        <div style="width:100%;display:flex;align-items:center">
          <div (click)="_carro.addMore('-', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:400;font-size:28px;display:flex;justify-content:center;align-items:center">
            -
          </div>
          <div style="margin-left:10px;margin-right:10px;color:#777;width:25px;height:25px;border-radius:50%;font-weight:500;font-size:17px;display:flex;justify-content:center;align-items:center">
            {{item.cantidad}}
          </div>
          <div (click)="_carro.addMore('+', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:400;font-size:28px;display:flex;justify-content:center;align-items:center">
            +
          </div>
        </div>
      </div>



      <div *ngIf="item.tipo == 'comida'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'comida'">
        <div style="margin:0px;color:#444;font-weight:500;font-size:17px">
          {{item.titulo}}
        </div>
        <div style="font-size:15px;margin:0px;color:#ff6633;margin-top:5px;margin-bottom:10px">
          ${{item.total}}
        </div>
        <div style="width:100%;display:flex;align-items:center">
          <div (click)="_carro.addMore('-', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:400;font-size:28px;display:flex;justify-content:center;align-items:center">
            -
          </div>
          <div style="margin-left:10px;margin-right:10px;color:#777;width:25px;height:25px;border-radius:50%;font-weight:500;font-size:17px;display:flex;justify-content:center;align-items:center">
            {{item.cantidad}}
          </div>
          <div (click)="_carro.addMore('+', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:400;font-size:28px;display:flex;justify-content:center;align-items:center">
            +
          </div>
        </div>
      </div>

      <div *ngIf="item.tipo == 'ecommerce'" item-start style="width:80px;min-height:80px; background-size:cover;background-repeat: no-repeat;background-position: center;border-radius:5px"
        [ngStyle]="{'background-image': 'url(' + item.img + ')' }">
      </div>
      <div *ngIf="item.tipo == 'ecommerce'">
        <div style="margin:0px;color:#444;font-weight:500;font-size:17px">
          {{item.titulo}}
        </div>
        <div style="font-size:15px;margin:0px;color:#ff6633;margin-top:5px;margin-bottom:10px">
          ${{item.total}}
        </div>
        <div style="width:100%;display:flex;align-items:center">
          <div (click)="_carro.addMore('-', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:450;font-size:28px;display:flex;justify-content:center;align-items:center">
            -
          </div>
          <div style="margin-left:10px;margin-right:10px;color:#777;width:25px;height:25px;border-radius:50%;font-weight:500;font-size:17px;display:flex;justify-content:center;align-items:center">
            {{item.cantidad}}
          </div>
          <div (click)="_carro.addMore('+', i)" style="color:#777;border:1px solid #eee;width:30px;height:30px;border-radius:50%;font-weight:450;font-size:28px;display:flex;justify-content:center;align-items:center">
            +
          </div>
        </div>
      </div>


    </ion-item>
  </div>

  <div *ngIf="_carro.subTotal > 0" style="padding:15px;padding-left:25px;padding-right:25px;padding-top:25px">
    <div style="font-size:20px;color:#555">
      Resumen
    </div>
    <div style="margin-top:10px;display:flex;justify-content:space-between">
      <div style="font-size:16px;color:#777;font-weight:350">
        Productos:
      </div>
      <div style="font-size:16px;color:#555">
        ${{_carro.subTotal}}
      </div>
    </div>

    <div style="margin-top:3px;display:flex;justify-content:space-between">
      <div style="font-size:16px;color:#777;font-weight:350">
        Costo del envío:
      </div>
      <div style="font-size:16px;color:#555">
        ${{_carro.totalEnvio}}
      </div>
    </div>

    <div style="margin-top:10px;display:flex;justify-content:space-between;align-items:center">
      <div style="font-size:18px;color:#ff6633">
        Total a pagar:
      </div>
      <div style="font-size:26px;color:#444;font-weight:500">
        ${{_carro.subTotal + _carro.totalEnvio}}
      </div>
    </div>
  </div>

  <hr>

  <div style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
    <div *ngIf="_carro.subTotal != 0" (click)="openPagar()" style="font-weight:500;font-size:12px;color:white;background:#ff6633;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
      PAGAR
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:10px"></ion-icon>
    </div>
    <div *ngIf="_carro.subTotal == 0" style="font-weight:500;font-size:12px;color:white;background:#ffa98c;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
      PAGAR
      <ion-icon name="ios-arrow-dropright-circle" style="color:white;font-size:34px;margin-left:10px"></ion-icon>
    </div>
  </div>

</ion-content>