<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>Horario</ion-title>
    <ion-buttons right>
      <button (click)="save()" ion-button outline mode="ios">
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background:rgb(250, 250, 250)">


  <div *ngFor="let item of matriz">
    <div style="margin-top:25px;margin-bottom:10px;color:#666;font-weight:600;margin-left:15px;font-size:12px">
      {{item.dia}}
      <ion-icon *ngIf="item.inicio && item.cierre" name="checkmark-circle" style="font-size:20px;margin-left:10px;color:rgb(45, 185, 45)"></ion-icon>

    </div>
    <button ion-item no-lines>
      <ion-label style="font-size:16px;color:#555">
        Inicio
      </ion-label>
      <div *ngIf="!item.inicio.length >0" item-end style="font-size:14px;color:#777">
        Seleccionar
      </div>
      <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
      <ion-datetime [(ngModel)]="item.inicio" displayFormat="h a"></ion-datetime>
    </button>

    <button ion-item no-lines>
      <ion-label style="font-size:16px;color:#555">
        Cierre
      </ion-label>
      <div *ngIf="!item.cierre.length >0" item-end style="font-size:14px;color:#777">
        Seleccionar
      </div>
      <ion-icon item-end name="ios-arrow-forward" style="color:#bbb;font-size:20px"></ion-icon>
      <ion-datetime [(ngModel)]="item.cierre" displayFormat="h a"></ion-datetime>
    </button>
  </div>


</ion-content>