page-tienda-horario {
    .active {
        background: #40CEAD;
        color: white;
        font-weight: 600;
    }

    .normal {
        background: #fff;
        color: #555;
        font-weight: 500;
    }
}
