<ion-header no-border>
  <ion-navbar color="white" align-title="center">
  </ion-navbar>
</ion-header>


<ion-content>

  <div item-start style="width:100%;min-height:250px; background-size:cover;background-repeat: no-repeat;background-position: center;"
    [ngStyle]="{'background-image': 'url(' + data.img + ')' }">
  </div>

  <div style="height:15px"></div>

  <div padding>
    <div style="font-size:18px;color:#333;font-weight:600">
      {{data.titulo}}
    </div>
    <div style="margin-top:5px;font-size:16px;color:#555">
      {{data?.descripcion}}
    </div>
  </div>

  <!-- <div style="font-weight:600;font-size:16px;color:#777;margin-left:15px;margin-bottom:10px">
    Detalles
  </div>
  <div style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    CANTIDAD ......................... X{{data.cantidad}}
  </div>
  <div *ngIf="data.tipo != 'ecommerce'" style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    SUB TOTAL ....................... ${{data.total - data.tienda.envios.precioFijo}}
  </div>
  <div *ngIf="data.tipo != 'ecommerce'" style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    ENVÍO ............................... ${{data.tienda.envios.precioFijo}}
  </div>
  <div *ngIf="data.tipo == 'ecommerce'" style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    SUB TOTAL ....................... ${{data.total}}
  </div>
  <div *ngIf="data.tipo == 'ecommerce'" style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    ENVÍO ............................... $0
  </div>
  <hr>
  <div style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    TOTAL .............................. ${{data.total}}
  </div> -->
  <div style="margin-left:15px;padding:5px;font-size:16px;color:#555">
    {{data.metodo}}
  </div>

  <hr>

  <ion-list text-wrap>
    <button ion-item>
      <div item-start style="position:relative">
        <div style="width:90px;min-height:90px;border-radius:5px;background-size:cover;background-repeat: no-repeat;background-position: center;"
          [ngStyle]="{'background-image': 'url(' + data.tienda.imgPerfil.url + ')' }">
        </div>
      </div>
      <div style="color:#444;font-weight:600;font-size:20px">
        {{data.tienda.nombre}}
      </div>
    </button>
  </ion-list>


</ion-content>